@font-face {
    font-family: 'elusive';
    src: url('../elusive.eot?1096514');
    src: url('../elusive.eot?1096514#iefix') format('embedded-opentype'),
    url('../elusive.woff?1096514') format('woff'),
    url('../elusive.ttf?1096514') format('truetype'),
    url('../elusive.svg?1096514#elusive') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'elusive';
    src: url('../font/elusive.svg?1096514#elusive') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "elusive";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-glass:before {
    content: '\e800';
}

/* '' */
.icon-music:before {
    content: '\e801';
}

/* '' */
.icon-video-chat:before {
    content: '\e802';
}

/* '' */
.icon-picture:before {
    content: '\e803';
}

/* '' */
.icon-search:before {
    content: '\e804';
}

/* '' */
.icon-camera:before {
    content: '\e805';
}

/* '' */
.icon-search-circled:before {
    content: '\e806';
}

/* '' */
.icon-photo:before {
    content: '\e807';
}

/* '' */
.icon-photo-circled:before {
    content: '\e808';
}

/* '' */
.icon-mail:before {
    content: '\e809';
}

/* '' */
.icon-mail-circled:before {
    content: '\e80a';
}

/* '' */
.icon-th-large:before {
    content: '\e80b';
}

/* '' */
.icon-th:before {
    content: '\e80c';
}

/* '' */
.icon-heart:before {
    content: '\e80d';
}

/* '' */
.icon-heart-circled:before {
    content: '\e80e';
}

/* '' */
.icon-th-list:before {
    content: '\e80f';
}

/* '' */
.icon-view-mode:before {
    content: '\e810';
}

/* '' */
.icon-heart-empty:before {
    content: '\e811';
}

/* '' */
.icon-star:before {
    content: '\e812';
}

/* '' */
.icon-ok:before {
    content: '\e813';
}

/* '' */
.icon-ok-circled:before {
    content: '\e814';
}

/* '' */
.icon-star-circled:before {
    content: '\e815';
}

/* '' */
.icon-star-empty:before {
    content: '\e816';
}

/* '' */
.icon-ok-circled2:before {
    content: '\e817';
}

/* '' */
.icon-cancel:before {
    content: '\e818';
}

/* '' */
.icon-user:before {
    content: '\e819';
}

/* '' */
.icon-group:before {
    content: '\e81a';
}

/* '' */
.icon-cancel-circled:before {
    content: '\e81b';
}

/* '' */
.icon-cancel-circled2:before {
    content: '\e81c';
}

/* '' */
.icon-group-circled:before {
    content: '\e81d';
}

/* '' */
.icon-plus:before {
    content: '\e81e';
}

/* '' */
.icon-plus-circled:before {
    content: '\e81f';
}

/* '' */
.icon-torso:before {
    content: '\e820';
}

/* '' */
.icon-video:before {
    content: '\e821';
}

/* '' */
.icon-minus:before {
    content: '\e822';
}

/* '' */
.icon-video-alt:before {
    content: '\e823';
}

/* '' */
.icon-video-circled:before {
    content: '\e824';
}

/* '' */
.icon-videocam:before {
    content: '\e825';
}

/* '' */
.icon-help:before {
    content: '\e826';
}

/* '' */
.icon-minus-circled:before {
    content: '\e827';
}

/* '' */
.icon-download:before {
    content: '\e828';
}

/* '' */
.icon-download-alt:before {
    content: '\e829';
}

/* '' */
.icon-upload:before {
    content: '\e82a';
}

/* '' */
.icon-share:before {
    content: '\e82b';
}

/* '' */
.icon-quote:before {
    content: '\e82c';
}

/* '' */
.icon-quote-circled:before {
    content: '\e82d';
}

/* '' */
.icon-help-circled:before {
    content: '\e82e';
}

/* '' */
.icon-info-circled:before {
    content: '\e82f';
}

/* '' */
.icon-home:before {
    content: '\e830';
}

/* '' */
.icon-home-circled:before {
    content: '\e831';
}

/* '' */
.icon-website:before {
    content: '\e832';
}

/* '' */
.icon-website-circled:before {
    content: '\e833';
}

/* '' */
.icon-attach:before {
    content: '\e834';
}

/* '' */
.icon-attach-circled:before {
    content: '\e835';
}

/* '' */
.icon-lock:before {
    content: '\e836';
}

/* '' */
.icon-lock-circled:before {
    content: '\e837';
}

/* '' */
.icon-lock-open:before {
    content: '\e838';
}

/* '' */
.icon-lock-open-alt:before {
    content: '\e839';
}

/* '' */
.icon-eye:before {
    content: '\e83a';
}

/* '' */
.icon-eye-off:before {
    content: '\e83b';
}

/* '' */
.icon-export:before {
    content: '\e83c';
}

/* '' */
.icon-pencil:before {
    content: '\e83d';
}

/* '' */
.icon-pencil-circled:before {
    content: '\e83e';
}

/* '' */
.icon-edit:before {
    content: '\e83f';
}

/* '' */
.icon-edit-circled:before {
    content: '\e840';
}

/* '' */
.icon-edit-alt:before {
    content: '\e841';
}

/* '' */
.icon-print:before {
    content: '\e842';
}

/* '' */
.icon-retweet:before {
    content: '\e843';
}

/* '' */
.icon-comment:before {
    content: '\e844';
}

/* '' */
.icon-comment-alt:before {
    content: '\e845';
}

/* '' */
.icon-bell:before {
    content: '\e846';
}

/* '' */
.icon-warning:before {
    content: '\e847';
}

/* '' */
.icon-error-alt:before {
    content: '\e848';
}

/* '' */
.icon-location:before {
    content: '\e849';
}

/* '' */
.icon-location-circled:before {
    content: '\e84a';
}

/* '' */
.icon-compass:before {
    content: '\e84b';
}

/* '' */
.icon-compass-circled:before {
    content: '\e84c';
}

/* '' */
.icon-trash:before {
    content: '\e84d';
}

/* '' */
.icon-trash-circled:before {
    content: '\e84e';
}

/* '' */
.icon-doc:before {
    content: '\e84f';
}

/* '' */
.icon-doc-circled:before {
    content: '\e850';
}

/* '' */
.icon-doc-new:before {
    content: '\e851';
}

/* '' */
.icon-doc-new-circled:before {
    content: '\e852';
}

/* '' */
.icon-folder:before {
    content: '\e853';
}

/* '' */
.icon-folder-circled:before {
    content: '\e854';
}

/* '' */
.icon-folder-close:before {
    content: '\e855';
}

/* '' */
.icon-folder-open:before {
    content: '\e856';
}

/* '' */
.icon-rss:before {
    content: '\e857';
}

/* '' */
.icon-phone:before {
    content: '\e858';
}

/* '' */
.icon-phone-circled:before {
    content: '\e859';
}

/* '' */
.icon-cogs:before {
    content: '\e85a';
}

/* '' */
.icon-wrench:before {
    content: '\e85b';
}

/* '' */
.icon-wrench-circled:before {
    content: '\e85c';
}

/* '' */
.icon-basket:before {
    content: '\e85d';
}

/* '' */
.icon-basket-circled:before {
    content: '\e85e';
}

/* '' */
.icon-calendar:before {
    content: '\e85f';
}

/* '' */
.icon-calendar-circled:before {
    content: '\e860';
}

/* '' */
.icon-mic:before {
    content: '\e861';
}

/* '' */
.icon-mic-circled:before {
    content: '\e862';
}

/* '' */
.icon-volume-off:before {
    content: '\e863';
}

/* '' */
.icon-volume-down:before {
    content: '\e864';
}

/* '' */
.icon-volume:before {
    content: '\e865';
}

/* '' */
.icon-volume-up:before {
    content: '\e866';
}

/* '' */
.icon-headphones:before {
    content: '\e867';
}

/* '' */
.icon-clock:before {
    content: '\e868';
}

/* '' */
.icon-clock-circled:before {
    content: '\e869';
}

/* '' */
.icon-lightbulb:before {
    content: '\e86a';
}

/* '' */
.icon-lightbulb-alt:before {
    content: '\e86b';
}

/* '' */
.icon-resize-full-alt:before {
    content: '\e86c';
}

/* '' */
.icon-resize-small:before {
    content: '\e86d';
}

/* '' */
.icon-resize-vertical:before {
    content: '\e86e';
}

/* '' */
.icon-resize-horizontal:before {
    content: '\e86f';
}

/* '' */
.icon-move:before {
    content: '\e870';
}

/* '' */
.icon-zoom-in:before {
    content: '\e871';
}

/* '' */
.icon-zoom-out:before {
    content: '\e872';
}

/* '' */
.icon-down-open:before {
    content: '\e873';
}

/* '' */
.icon-left-open:before {
    content: '\e874';
}

/* '' */
.icon-right-open:before {
    content: '\e875';
}

/* '' */
.icon-up-open:before {
    content: '\e876';
}

/* '' */
.icon-down:before {
    content: '\e877';
}

/* '' */
.icon-left:before {
    content: '\e878';
}

/* '' */
.icon-right:before {
    content: '\e879';
}

/* '' */
.icon-up:before {
    content: '\e87a';
}

/* '' */
.icon-down-circled:before {
    content: '\e87b';
}

/* '' */
.icon-left-circled:before {
    content: '\e87c';
}

/* '' */
.icon-right-circled:before {
    content: '\e87d';
}

/* '' */
.icon-left-hand:before {
    content: '\e87e';
}

/* '' */
.icon-right-hand:before {
    content: '\e87f';
}

/* '' */
.icon-up-hand:before {
    content: '\e880';
}

/* '' */
.icon-cw:before {
    content: '\e881';
}

/* '' */
.icon-cw-circled:before {
    content: '\e882';
}

/* '' */
.icon-arrows-cw:before {
    content: '\e883';
}

/* '' */
.icon-shuffle:before {
    content: '\e884';
}

/* '' */
.icon-play:before {
    content: '\e885';
}

/* '' */
.icon-play-circled:before {
    content: '\e886';
}

/* '' */
.icon-play-circled2:before {
    content: '\e887';
}

/* '' */
.icon-stop:before {
    content: '\e888';
}

/* '' */
.icon-stop-circled:before {
    content: '\e889';
}

/* '' */
.icon-pause:before {
    content: '\e88a';
}

/* '' */
.icon-pause-circled:before {
    content: '\e88b';
}

/* '' */
.icon-record:before {
    content: '\e88c';
}

/* '' */
.icon-eject:before {
    content: '\e88d';
}

/* '' */
.icon-backward:before {
    content: '\e88e';
}

/* '' */
.icon-backward-circled:before {
    content: '\e88f';
}

/* '' */
.icon-forward:before {
    content: '\e890';
}

/* '' */
.icon-forward-circled:before {
    content: '\e891';
}

/* '' */
.icon-step-backward:before {
    content: '\e892';
}

/* '' */
.icon-step-forward:before {
    content: '\e893';
}

/* '' */
.icon-target:before {
    content: '\e894';
}

/* '' */
.icon-signal:before {
    content: '\e895';
}

/* '' */
.icon-desktop:before {
    content: '\e896';
}

/* '' */
.icon-desktop-circled:before {
    content: '\e897';
}

/* '' */
.icon-laptop:before {
    content: '\e898';
}

/* '' */
.icon-laptop-circled:before {
    content: '\e899';
}

/* '' */
.icon-network:before {
    content: '\e89a';
}

/* '' */
.icon-inbox:before {
    content: '\e89b';
}

/* '' */
.icon-inbox-circled:before {
    content: '\e89c';
}

/* '' */
.icon-inbox-alt:before {
    content: '\e89d';
}

/* '' */
.icon-globe:before {
    content: '\e89e';
}

/* '' */
.icon-globe-alt:before {
    content: '\e89f';
}

/* '' */
.icon-cloud:before {
    content: '\e8a0';
}

/* '' */
.icon-cloud-circled:before {
    content: '\e8a1';
}

/* '' */
.icon-font:before {
    content: '\e8a2';
}

/* '' */
.icon-fontsize:before {
    content: '\e8a3';
}

/* '' */
.icon-bold:before {
    content: '\e8a4';
}

/* '' */
.icon-italic:before {
    content: '\e8a5';
}

/* '' */
.icon-text-height:before {
    content: '\e8a6';
}

/* '' */
.icon-text-width:before {
    content: '\e8a7';
}

/* '' */
.icon-align-left:before {
    content: '\e8a8';
}

/* '' */
.icon-align-center:before {
    content: '\e8a9';
}

/* '' */
.icon-align-right:before {
    content: '\e8aa';
}

/* '' */
.icon-align-justify:before {
    content: '\e8ab';
}

/* '' */
.icon-list:before {
    content: '\e8ac';
}

/* '' */
.icon-indent-left:before {
    content: '\e8ad';
}

/* '' */
.icon-indent-right:before {
    content: '\e8ae';
}

/* '' */
.icon-briefcase:before {
    content: '\e8af';
}

/* '' */
.icon-off:before {
    content: '\e8b0';
}

/* '' */
.icon-road:before {
    content: '\e8b1';
}

/* '' */
.icon-qrcode:before {
    content: '\e8b2';
}

/* '' */
.icon-barcode:before {
    content: '\e8b3';
}

/* '' */
.icon-adjust:before {
    content: '\e8b4';
}

/* '' */
.icon-tint:before {
    content: '\e8b5';
}

/* '' */
.icon-check:before {
    content: '\e8b6';
}

/* '' */
.icon-check-empty:before {
    content: '\e8b7';
}

/* '' */
.icon-asterisk:before {
    content: '\e8b8';
}

/* '' */
.icon-gift:before {
    content: '\e8b9';
}

/* '' */
.icon-fire:before {
    content: '\e8ba';
}

/* '' */
.icon-magnet:before {
    content: '\e8bb';
}

/* '' */
.icon-chart:before {
    content: '\e8bc';
}

/* '' */
.icon-chart-circled:before {
    content: '\e8bd';
}

/* '' */
.icon-credit-card:before {
    content: '\e8be';
}

/* '' */
.icon-megaphone:before {
    content: '\e8bf';
}

/* '' */
.icon-clipboard:before {
    content: '\e8c0';
}

/* '' */
.icon-hdd:before {
    content: '\e8c1';
}

/* '' */
.icon-key:before {
    content: '\e8c2';
}

/* '' */
.icon-certificate:before {
    content: '\e8c3';
}

/* '' */
.icon-tasks:before {
    content: '\e8c4';
}

/* '' */
.icon-filter:before {
    content: '\e8c5';
}

/* '' */
.icon-bookmark:before {
    content: '\e8c6';
}

/* '' */
.icon-tag:before {
    content: '\e8c7';
}

/* '' */
.icon-tags:before {
    content: '\e8c8';
}

/* '' */
.icon-bookmark-empty:before {
    content: '\e8c9';
}

/* '' */
.icon-flag-circled:before {
    content: '\e8ca';
}

/* '' */
.icon-flag:before {
    content: '\e8cb';
}

/* '' */
.icon-thumbs-up:before {
    content: '\e8cc';
}

/* '' */
.icon-thumbs-down:before {
    content: '\e8cd';
}

/* '' */
.icon-exclamation:before {
    content: '\e8ce';
}

/* '' */
.icon-error:before {
    content: '\e8cf';
}

/* '' */
.icon-cog:before {
    content: '\e8d0';
}

/* '' */
.icon-cog-circled:before {
    content: '\e8d1';
}

/* '' */
.icon-block:before {
    content: '\e8d2';
}

/* '' */
.icon-resize-full:before {
    content: '\e8d3';
}

/* '' */
.icon-up-circled:before {
    content: '\e8d4';
}

/* '' */
.icon-down-hand:before {
    content: '\e8d5';
}

/* '' */
.icon-fast-backward:before {
    content: '\e8d6';
}

/* '' */
.icon-fast-forward:before {
    content: '\e8d7';
}

/* '' */
.icon-flight:before {
    content: '\e8d8';
}

/* '' */
.icon-leaf:before {
    content: '\e8d9';
}

/* '' */
.icon-braille:before {
    content: '\e8da';
}

/* '' */
.icon-book:before {
    content: '\e8db';
}

/* '' */
.icon-gauge:before {
    content: '\e8dc';
}

/* '' */
.icon-smiley:before {
    content: '\e8dd';
}

/* '' */
.icon-cc:before {
    content: '\e8de';
}

/* '' */
.icon-css:before {
    content: '\e8df';
}

/* '' */
.icon-smiley-circled:before {
    content: '\e8e0';
}

/* '' */
.icon-address-book:before {
    content: '\e8e1';
}

/* '' */
.icon-address-book-alt:before {
    content: '\e8e2';
}

/* '' */
.icon-asl:before {
    content: '\e8e3';
}

/* '' */
.icon-glasses:before {
    content: '\e8e4';
}

/* '' */
.icon-hearing-impaired:before {
    content: '\e8e5';
}

/* '' */
.icon-iphone-home:before {
    content: '\e8e6';
}

/* '' */
.icon-person:before {
    content: '\e8e7';
}

/* '' */
.icon-adult:before {
    content: '\e8e8';
}

/* '' */
.icon-child:before {
    content: '\e8e9';
}

/* '' */
.icon-blind:before {
    content: '\e8ea';
}

/* '' */
.icon-guidedog:before {
    content: '\e8eb';
}

/* '' */
.icon-accessibility:before {
    content: '\e8ec';
}

/* '' */
.icon-universal-access:before {
    content: '\e8ed';
}

/* '' */
.icon-male:before {
    content: '\e8ee';
}

/* '' */
.icon-female:before {
    content: '\e8ef';
}

/* '' */
.icon-behance:before {
    content: '\e8f0';
}

/* '' */
.icon-blogger:before {
    content: '\e8f1';
}

/* '' */
.icon-delicious:before {
    content: '\e8f2';
}

/* '' */
.icon-deviantart:before {
    content: '\e8f3';
}

/* '' */
.icon-digg:before {
    content: '\e8f4';
}

/* '' */
.icon-dribbble:before {
    content: '\e8f5';
}

/* '' */
.icon-facebook:before {
    content: '\e8f6';
}

/* '' */
.icon-flickr:before {
    content: '\e8f7';
}

/* '' */
.icon-foursquare:before {
    content: '\e8f8';
}

/* '' */
.icon-friendfeed:before {
    content: '\e8f9';
}

/* '' */
.icon-friendfeed-rect:before {
    content: '\e8fa';
}

/* '' */
.icon-github:before {
    content: '\e8fb';
}

/* '' */
.icon-github-text:before {
    content: '\e8fc';
}

/* '' */
.icon-googleplus:before {
    content: '\e8fd';
}

/* '' */
.icon-instagram:before {
    content: '\e8fe';
}

/* '' */
.icon-linkedin:before {
    content: '\e8ff';
}

/* '' */
.icon-path:before {
    content: '\e900';
}

/* '' */
.icon-picasa:before {
    content: '\e901';
}

/* '' */
.icon-pinterest:before {
    content: '\e902';
}

/* '' */
.icon-reddit:before {
    content: '\e903';
}

/* '' */
.icon-skype:before {
    content: '\e904';
}

/* '' */
.icon-slideshare:before {
    content: '\e905';
}

/* '' */
.icon-stackoverflow:before {
    content: '\e906';
}

/* '' */
.icon-stumbleupon:before {
    content: '\e907';
}

/* '' */
.icon-twitter:before {
    content: '\e908';
}

/* '' */
.icon-tumblr:before {
    content: '\e909';
}

/* '' */
.icon-vimeo:before {
    content: '\e90a';
}

/* '' */
.icon-vkontakte:before {
    content: '\e90b';
}

/* '' */
.icon-w3c:before {
    content: '\e90c';
}

/* '' */
.icon-wordpress:before {
    content: '\e90d';
}

/* '' */
.icon-youtube:before {
    content: '\e90e';
}

/* '' */