
.icon-cog:before {
    content: '\e800';
}

/* '' */
.icon-tags:before {
    content: '\e801';
}

/* '' */
.icon-bookmark:before {
    content: '\e802';
}

/* '' */
.icon-bookmark-empty:before {
    content: '\e803';
}

/* '' */
.icon-flag:before {
    content: '\e804';
}

/* '' */
.icon-flag-empty:before {
    content: '\e805';
}

/* '' */
.icon-flag-checkered:before {
    content: '\e806';
}

/* '' */
.icon-thumbs-up:before {
    content: '\e807';
}

/* '' */
.icon-thumbs-down:before {
    content: '\e808';
}

/* '' */
.icon-thumbs-up-alt:before {
    content: '\e809';
}

/* '' */
.icon-thumbs-down-alt:before {
    content: '\e80a';
}

/* '' */
.icon-download:before {
    content: '\e80b';
}

/* '' */
.icon-upload:before {
    content: '\e80c';
}

/* '' */
.icon-download-cloud:before {
    content: '\e80d';
}

/* '' */
.icon-upload-cloud:before {
    content: '\e80e';
}

/* '' */
.icon-reply:before {
    content: '\e80f';
}

/* '' */
.icon-reply-all:before {
    content: '\e810';
}

/* '' */
.icon-forward:before {
    content: '\e811';
}

/* '' */
.icon-quote-left:before {
    content: '\e812';
}

/* '' */
.icon-quote-right:before {
    content: '\e813';
}

/* '' */
.icon-code:before {
    content: '\e814';
}

/* '' */
.icon-export:before {
    content: '\e815';
}

/* '' */
.icon-export-alt:before {
    content: '\e816';
}

/* '' */
.icon-share:before {
    content: '\e817';
}

/* '' */
.icon-share-squared:before {
    content: '\e818';
}

/* '' */
.icon-pencil:before {
    content: '\e819';
}

/* '' */
.icon-pencil-squared:before {
    content: '\e81a';
}

/* '' */
.icon-edit:before {
    content: '\e81b';
}

/* '' */
.icon-print:before {
    content: '\e81c';
}

/* '' */
.icon-retweet:before {
    content: '\e81d';
}

/* '' */
.icon-keyboard:before {
    content: '\e81e';
}

/* '' */
.icon-gamepad:before {
    content: '\e81f';
}

/* '' */
.icon-comment:before {
    content: '\e820';
}

/* '' */
.icon-chat:before {
    content: '\e821';
}

/* '' */
.icon-comment-empty:before {
    content: '\e822';
}

/* '' */
.icon-chat-empty:before {
    content: '\e823';
}

/* '' */
.icon-bell:before {
    content: '\e824';
}

/* '' */
.icon-bell-alt:before {
    content: '\e825';
}

/* '' */
.icon-bell-off:before {
    content: '\e826';
}

/* '' */
.icon-bell-off-empty:before {
    content: '\e827';
}

/* '' */
.icon-attention-alt:before {
    content: '\e828';
}

/* '' */
.icon-attention:before {
    content: '\e829';
}

/* '' */
.icon-attention-circled:before {
    content: '\e82a';
}

/* '' */
.icon-location:before {
    content: '\e82b';
}

/* '' */
.icon-direction:before {
    content: '\e82c';
}

/* '' */
.icon-compass:before {
    content: '\e82d';
}

/* '' */
.icon-trash:before {
    content: '\e82e';
}

/* '' */
.icon-trash-empty:before {
    content: '\e82f';
}

/* '' */
.icon-doc:before {
    content: '\e830';
}

/* '' */
.icon-docs:before {
    content: '\e831';
}

/* '' */
.icon-doc-text:before {
    content: '\e832';
}

/* '' */
.icon-doc-inv:before {
    content: '\e833';
}

/* '' */
.icon-doc-text-inv:before {
    content: '\e834';
}

/* '' */
.icon-file-pdf:before {
    content: '\e835';
}

/* '' */
.icon-file-word:before {
    content: '\e836';
}

/* '' */
.icon-file-excel:before {
    content: '\e837';
}

/* '' */
.icon-file-powerpoint:before {
    content: '\e838';
}

/* '' */
.icon-file-image:before {
    content: '\e839';
}

/* '' */
.icon-file-archive:before {
    content: '\e83a';
}

/* '' */
.icon-file-audio:before {
    content: '\e83b';
}

/* '' */
.icon-file-video:before {
    content: '\e83c';
}

/* '' */
.icon-file-code:before {
    content: '\e83d';
}

/* '' */
.icon-folder:before {
    content: '\e83e';
}

/* '' */
.icon-folder-open:before {
    content: '\e83f';
}

/* '' */
.icon-folder-empty:before {
    content: '\e840';
}

/* '' */
.icon-folder-open-empty:before {
    content: '\e841';
}

/* '' */
.icon-box:before {
    content: '\e842';
}

/* '' */
.icon-rss:before {
    content: '\e843';
}

/* '' */
.icon-rss-squared:before {
    content: '\e844';
}

/* '' */
.icon-phone:before {
    content: '\e845';
}

/* '' */
.icon-phone-squared:before {
    content: '\e846';
}

/* '' */
.icon-fax:before {
    content: '\e847';
}

/* '' */
.icon-cog-alt:before {
    content: '\e848';
}

/* '' */
.icon-wrench:before {
    content: '\e849';
}

/* '' */
.icon-sliders:before {
    content: '\e84a';
}

/* '' */
.icon-basket:before {
    content: '\e84b';
}

/* '' */
.icon-cart-plus:before {
    content: '\e84c';
}

/* '' */
.icon-cart-arrow-down:before {
    content: '\e84d';
}

/* '' */
.icon-calendar:before {
    content: '\e84e';
}

/* '' */
.icon-calendar-empty:before {
    content: '\e84f';
}

/* '' */
.icon-login:before {
    content: '\e850';
}

/* '' */
.icon-logout:before {
    content: '\e851';
}

/* '' */
.icon-mic:before {
    content: '\e852';
}

/* '' */
.icon-mute:before {
    content: '\e853';
}

/* '' */
.icon-volume-off:before {
    content: '\e854';
}

/* '' */
.icon-volume-down:before {
    content: '\e855';
}

/* '' */
.icon-volume-up:before {
    content: '\e856';
}

/* '' */
.icon-headphones:before {
    content: '\e857';
}

/* '' */
.icon-clock:before {
    content: '\e858';
}

/* '' */
.icon-lightbulb:before {
    content: '\e859';
}

/* '' */
.icon-block:before {
    content: '\e85a';
}

/* '' */
.icon-resize-full:before {
    content: '\e85b';
}

/* '' */
.icon-resize-full-alt:before {
    content: '\e85c';
}

/* '' */
.icon-resize-small:before {
    content: '\e85d';
}

/* '' */
.icon-resize-vertical:before {
    content: '\e85e';
}

/* '' */
.icon-resize-horizontal:before {
    content: '\e85f';
}

/* '' */
.icon-move:before {
    content: '\e860';
}

/* '' */
.icon-zoom-in:before {
    content: '\e861';
}

/* '' */
.icon-zoom-out:before {
    content: '\e862';
}

/* '' */
.icon-down-circled2:before {
    content: '\e863';
}

/* '' */
.icon-up-circled2:before {
    content: '\e864';
}

/* '' */
.icon-left-circled2:before {
    content: '\e865';
}

/* '' */
.icon-right-circled2:before {
    content: '\e866';
}

/* '' */
.icon-down-dir:before {
    content: '\e867';
}

/* '' */
.icon-up-dir:before {
    content: '\e868';
}

/* '' */
.icon-left-dir:before {
    content: '\e869';
}

/* '' */
.icon-right-dir:before {
    content: '\e86a';
}

/* '' */
.icon-down-open:before {
    content: '\e86b';
}

/* '' */
.icon-left-open:before {
    content: '\e86c';
}

/* '' */
.icon-right-open:before {
    content: '\e86d';
}

/* '' */
.icon-up-open:before {
    content: '\e86e';
}

/* '' */
.icon-angle-left:before {
    content: '\e86f';
}

/* '' */
.icon-angle-right:before {
    content: '\e870';
}

/* '' */
.icon-angle-up:before {
    content: '\e871';
}

/* '' */
.icon-angle-down:before {
    content: '\e872';
}

/* '' */
.icon-angle-circled-left:before {
    content: '\e873';
}

/* '' */
.icon-angle-circled-right:before {
    content: '\e874';
}

/* '' */
.icon-angle-circled-up:before {
    content: '\e875';
}

/* '' */
.icon-angle-circled-down:before {
    content: '\e876';
}

/* '' */
.icon-angle-double-left:before {
    content: '\e877';
}

/* '' */
.icon-angle-double-right:before {
    content: '\e878';
}

/* '' */
.icon-angle-double-up:before {
    content: '\e879';
}

/* '' */
.icon-angle-double-down:before {
    content: '\e87a';
}

/* '' */
.icon-down:before {
    content: '\e87b';
}

/* '' */
.icon-left:before {
    content: '\e87c';
}

/* '' */
.icon-right:before {
    content: '\e87d';
}

/* '' */
.icon-up:before {
    content: '\e87e';
}

/* '' */
.icon-down-big:before {
    content: '\e87f';
}

/* '' */
.icon-left-big:before {
    content: '\e880';
}

/* '' */
.icon-right-big:before {
    content: '\e881';
}

/* '' */
.icon-up-big:before {
    content: '\e882';
}

/* '' */
.icon-right-hand:before {
    content: '\e883';
}

/* '' */
.icon-left-hand:before {
    content: '\e884';
}

/* '' */
.icon-up-hand:before {
    content: '\e885';
}

/* '' */
.icon-down-hand:before {
    content: '\e886';
}

/* '' */
.icon-left-circled:before {
    content: '\e887';
}

/* '' */
.icon-right-circled:before {
    content: '\e888';
}

/* '' */
.icon-up-circled:before {
    content: '\e889';
}

/* '' */
.icon-down-circled:before {
    content: '\e88a';
}

/* '' */
.icon-cw:before {
    content: '\e88b';
}

/* '' */
.icon-ccw:before {
    content: '\e88c';
}

/* '' */
.icon-arrows-cw:before {
    content: '\e88d';
}

/* '' */
.icon-level-up:before {
    content: '\e88e';
}

/* '' */
.icon-level-down:before {
    content: '\e88f';
}

/* '' */
.icon-shuffle:before {
    content: '\e890';
}

/* '' */
.icon-exchange:before {
    content: '\e891';
}

/* '' */
.icon-history:before {
    content: '\e892';
}

/* '' */
.icon-expand:before {
    content: '\e893';
}

/* '' */
.icon-collapse:before {
    content: '\e894';
}

/* '' */
.icon-expand-right:before {
    content: '\e895';
}

/* '' */
.icon-collapse-left:before {
    content: '\e896';
}

/* '' */
.icon-play:before {
    content: '\e897';
}

/* '' */
.icon-play-circled:before {
    content: '\e898';
}

/* '' */
.icon-play-circled2:before {
    content: '\e899';
}

/* '' */
.icon-stop:before {
    content: '\e89a';
}

/* '' */
.icon-pause:before {
    content: '\e89b';
}

/* '' */
.icon-to-end:before {
    content: '\e89c';
}

/* '' */
.icon-to-end-alt:before {
    content: '\e89d';
}

/* '' */
.icon-to-start:before {
    content: '\e89e';
}

/* '' */
.icon-to-start-alt:before {
    content: '\e89f';
}

/* '' */
.icon-fast-fw:before {
    content: '\e8a0';
}

/* '' */
.icon-fast-bw:before {
    content: '\e8a1';
}

/* '' */
.icon-eject:before {
    content: '\e8a2';
}

/* '' */
.icon-target:before {
    content: '\e8a3';
}

/* '' */
.icon-signal:before {
    content: '\e8a4';
}

/* '' */
.icon-wifi:before {
    content: '\e8a5';
}

/* '' */
.icon-award:before {
    content: '\e8a6';
}

/* '' */
.icon-desktop:before {
    content: '\e8a7';
}

/* '' */
.icon-laptop:before {
    content: '\e8a8';
}

/* '' */
.icon-tablet:before {
    content: '\e8a9';
}

/* '' */
.icon-mobile:before {
    content: '\e8aa';
}

/* '' */
.icon-inbox:before {
    content: '\e8ab';
}

/* '' */
.icon-globe:before {
    content: '\e8ac';
}

/* '' */
.icon-sun:before {
    content: '\e8ad';
}

/* '' */
.icon-cloud:before {
    content: '\e8ae';
}

/* '' */
.icon-flash:before {
    content: '\e8af';
}

/* '' */
.icon-moon:before {
    content: '\e8b0';
}

/* '' */
.icon-umbrella:before {
    content: '\e8b1';
}

/* '' */
.icon-flight:before {
    content: '\e8b2';
}

/* '' */
.icon-fighter-jet:before {
    content: '\e8b3';
}

/* '' */
.icon-paper-plane:before {
    content: '\e8b4';
}

/* '' */
.icon-paper-plane-empty:before {
    content: '\e8b5';
}

/* '' */
.icon-space-shuttle:before {
    content: '\e8b6';
}

/* '' */
.icon-leaf:before {
    content: '\e8b7';
}

/* '' */
.icon-font:before {
    content: '\e8b8';
}

/* '' */
.icon-bold:before {
    content: '\e8b9';
}

/* '' */
.icon-medium:before {
    content: '\e8ba';
}

/* '' */
.icon-italic:before {
    content: '\e8bb';
}

/* '' */
.icon-header:before {
    content: '\e8bc';
}

/* '' */
.icon-paragraph:before {
    content: '\e8bd';
}

/* '' */
.icon-text-height:before {
    content: '\e8be';
}

/* '' */
.icon-text-width:before {
    content: '\e8bf';
}

/* '' */
.icon-align-left:before {
    content: '\e8c0';
}

/* '' */
.icon-align-center:before {
    content: '\e8c1';
}

/* '' */
.icon-align-right:before {
    content: '\e8c2';
}

/* '' */
.icon-align-justify:before {
    content: '\e8c3';
}

/* '' */
.icon-list:before {
    content: '\e8c4';
}

/* '' */
.icon-indent-left:before {
    content: '\e8c5';
}

/* '' */
.icon-indent-right:before {
    content: '\e8c6';
}

/* '' */
.icon-list-bullet:before {
    content: '\e8c7';
}

/* '' */
.icon-list-numbered:before {
    content: '\e8c8';
}

/* '' */
.icon-strike:before {
    content: '\e8c9';
}

/* '' */
.icon-underline:before {
    content: '\e8ca';
}

/* '' */
.icon-superscript:before {
    content: '\e8cb';
}

/* '' */
.icon-subscript:before {
    content: '\e8cc';
}

/* '' */
.icon-table:before {
    content: '\e8cd';
}

/* '' */
.icon-columns:before {
    content: '\e8ce';
}

/* '' */
.icon-crop:before {
    content: '\e8cf';
}

/* '' */
.icon-scissors:before {
    content: '\e8d0';
}

/* '' */
.icon-paste:before {
    content: '\e8d1';
}

/* '' */
.icon-briefcase:before {
    content: '\e8d2';
}

/* '' */
.icon-suitcase:before {
    content: '\e8d3';
}

/* '' */
.icon-ellipsis:before {
    content: '\e8d4';
}

/* '' */
.icon-ellipsis-vert:before {
    content: '\e8d5';
}

/* '' */
.icon-off:before {
    content: '\e8d6';
}

/* '' */
.icon-road:before {
    content: '\e8d7';
}

/* '' */
.icon-list-alt:before {
    content: '\e8d8';
}

/* '' */
.icon-qrcode:before {
    content: '\e8d9';
}

/* '' */
.icon-barcode:before {
    content: '\e8da';
}

/* '' */
.icon-book:before {
    content: '\e8db';
}

/* '' */
.icon-ajust:before {
    content: '\e8dc';
}

/* '' */
.icon-tint:before {
    content: '\e8dd';
}

/* '' */
.icon-toggle-off:before {
    content: '\e8de';
}

/* '' */
.icon-toggle-on:before {
    content: '\e8df';
}

/* '' */
.icon-check:before {
    content: '\e8e0';
}

/* '' */
.icon-check-empty:before {
    content: '\e8e1';
}

/* '' */
.icon-circle:before {
    content: '\e8e2';
}

/* '' */
.icon-circle-empty:before {
    content: '\e8e3';
}

/* '' */
.icon-circle-thin:before {
    content: '\e8e4';
}

/* '' */
.icon-circle-notch:before {
    content: '\e8e5';
}

/* '' */
.icon-dot-circled:before {
    content: '\e8e6';
}

/* '' */
.icon-asterisk:before {
    content: '\e8e7';
}

/* '' */
.icon-gift:before {
    content: '\e8e8';
}

/* '' */
.icon-fire:before {
    content: '\e8e9';
}

/* '' */
.icon-magnet:before {
    content: '\e8ea';
}

/* '' */
.icon-chart-bar:before {
    content: '\e8eb';
}

/* '' */
.icon-chart-area:before {
    content: '\e8ec';
}

/* '' */
.icon-chart-pie:before {
    content: '\e8ed';
}

/* '' */
.icon-chart-line:before {
    content: '\e8ee';
}

/* '' */
.icon-ticket:before {
    content: '\e8ef';
}

/* '' */
.icon-credit-card:before {
    content: '\e8f0';
}

/* '' */
.icon-floppy:before {
    content: '\e8f1';
}

/* '' */
.icon-megaphone:before {
    content: '\e8f2';
}

/* '' */
.icon-hdd:before {
    content: '\e8f3';
}

/* '' */
.icon-key:before {
    content: '\e8f4';
}

/* '' */
.icon-fork:before {
    content: '\e8f5';
}

/* '' */
.icon-rocket:before {
    content: '\e8f6';
}

/* '' */
.icon-bug:before {
    content: '\e8f7';
}

/* '' */
.icon-certificate:before {
    content: '\e8f8';
}

/* '' */
.icon-tasks:before {
    content: '\e8f9';
}

/* '' */
.icon-filter:before {
    content: '\e8fa';
}

/* '' */
.icon-beaker:before {
    content: '\e8fb';
}

/* '' */
.icon-magic:before {
    content: '\e8fc';
}

/* '' */
.icon-cab:before {
    content: '\e8fd';
}

/* '' */
.icon-taxi:before {
    content: '\e8fe';
}

/* '' */
.icon-truck:before {
    content: '\e8ff';
}

/* '' */
.icon-bus:before {
    content: '\e900';
}

/* '' */
.icon-bicycle:before {
    content: '\e901';
}

/* '' */
.icon-motorcycle:before {
    content: '\e902';
}

/* '' */
.icon-train:before {
    content: '\e903';
}

/* '' */
.icon-subway:before {
    content: '\e904';
}

/* '' */
.icon-ship:before {
    content: '\e905';
}

/* '' */
.icon-money:before {
    content: '\e906';
}

/* '' */
.icon-euro:before {
    content: '\e907';
}

/* '' */
.icon-pound:before {
    content: '\e908';
}

/* '' */
.icon-dollar:before {
    content: '\e909';
}

/* '' */
.icon-rupee:before {
    content: '\e90a';
}

/* '' */
.icon-yen:before {
    content: '\e90b';
}

/* '' */
.icon-rouble:before {
    content: '\e90c';
}

/* '' */
.icon-shekel:before {
    content: '\e90d';
}

/* '' */
.icon-try:before {
    content: '\e90e';
}

/* '' */
.icon-won:before {
    content: '\e90f';
}

/* '' */
.icon-bitcoin:before {
    content: '\e910';
}

/* '' */
.icon-viacoin:before {
    content: '\e911';
}

/* '' */
.icon-sort:before {
    content: '\e912';
}

/* '' */
.icon-sort-down:before {
    content: '\e913';
}

/* '' */
.icon-sort-up:before {
    content: '\e914';
}

/* '' */
.icon-sort-alt-up:before {
    content: '\e915';
}

/* '' */
.icon-sort-alt-down:before {
    content: '\e916';
}

/* '' */
.icon-sort-name-up:before {
    content: '\e917';
}

/* '' */
.icon-sort-name-down:before {
    content: '\e918';
}

/* '' */
.icon-sort-number-up:before {
    content: '\e919';
}

/* '' */
.icon-sort-number-down:before {
    content: '\e91a';
}

/* '' */
.icon-hammer:before {
    content: '\e91b';
}

/* '' */
.icon-gauge:before {
    content: '\e91c';
}

/* '' */
.icon-sitemap:before {
    content: '\e91d';
}

/* '' */
.icon-spinner:before {
    content: '\e91e';
}

/* '' */
.icon-coffee:before {
    content: '\e91f';
}

/* '' */
.icon-food:before {
    content: '\e920';
}

/* '' */
.icon-beer:before {
    content: '\e921';
}

/* '' */
.icon-user-md:before {
    content: '\e922';
}

/* '' */
.icon-stethoscope:before {
    content: '\e923';
}

/* '' */
.icon-heartbeat:before {
    content: '\e924';
}

/* '' */
.icon-ambulance:before {
    content: '\e925';
}

/* '' */
.icon-medkit:before {
    content: '\e926';
}

/* '' */
.icon-h-sigh:before {
    content: '\e927';
}

/* '' */
.icon-bed:before {
    content: '\e928';
}

/* '' */
.icon-hospital:before {
    content: '\e929';
}

/* '' */
.icon-building:before {
    content: '\e92a';
}

/* '' */
.icon-building-filled:before {
    content: '\e92b';
}

/* '' */
.icon-bank:before {
    content: '\e92c';
}

/* '' */
.icon-smile:before {
    content: '\e92d';
}

/* '' */
.icon-frown:before {
    content: '\e92e';
}

/* '' */
.icon-meh:before {
    content: '\e92f';
}

/* '' */
.icon-anchor:before {
    content: '\e930';
}

/* '' */
.icon-terminal:before {
    content: '\e931';
}

/* '' */
.icon-eraser:before {
    content: '\e932';
}

/* '' */
.icon-puzzle:before {
    content: '\e933';
}

/* '' */
.icon-shield:before {
    content: '\e934';
}

/* '' */
.icon-extinguisher:before {
    content: '\e935';
}

/* '' */
.icon-bullseye:before {
    content: '\e936';
}

/* '' */
.icon-wheelchair:before {
    content: '\e937';
}

/* '' */
.icon-language:before {
    content: '\e938';
}

/* '' */
.icon-graduation-cap:before {
    content: '\e939';
}

/* '' */
.icon-paw:before {
    content: '\e93a';
}

/* '' */
.icon-spoon:before {
    content: '\e93b';
}

/* '' */
.icon-cube:before {
    content: '\e93c';
}

/* '' */
.icon-cubes:before {
    content: '\e93d';
}

/* '' */
.icon-recycle:before {
    content: '\e93e';
}

/* '' */
.icon-tree:before {
    content: '\e93f';
}

/* '' */
.icon-database:before {
    content: '\e940';
}

/* '' */
.icon-server:before {
    content: '\e941';
}

/* '' */
.icon-lifebuoy:before {
    content: '\e942';
}

/* '' */
.icon-rebel:before {
    content: '\e943';
}

/* '' */
.icon-empire:before {
    content: '\e944';
}

/* '' */
.icon-bomb:before {
    content: '\e945';
}

/* '' */
.icon-soccer-ball:before {
    content: '\e946';
}

/* '' */
.icon-tty:before {
    content: '\e947';
}

/* '' */
.icon-binoculars:before {
    content: '\e948';
}

/* '' */
.icon-plug:before {
    content: '\e949';
}

/* '' */
.icon-newspaper:before {
    content: '\e94a';
}

/* '' */
.icon-calc:before {
    content: '\e94b';
}

/* '' */
.icon-copyright:before {
    content: '\e94c';
}

/* '' */
.icon-at:before {
    content: '\e94d';
}

/* '' */
.icon-eyedropper:before {
    content: '\e94e';
}

/* '' */
.icon-brush:before {
    content: '\e94f';
}

/* '' */
.icon-birthday:before {
    content: '\e950';
}

/* '' */
.icon-diamond:before {
    content: '\e951';
}

/* '' */
.icon-street-view:before {
    content: '\e952';
}

/* '' */
.icon-venus:before {
    content: '\e953';
}

/* '' */
.icon-mars:before {
    content: '\e954';
}

/* '' */
.icon-mercury:before {
    content: '\e955';
}

/* '' */
.icon-transgender:before {
    content: '\e956';
}

/* '' */
.icon-transgender-alt:before {
    content: '\e957';
}

/* '' */
.icon-venus-double:before {
    content: '\e958';
}

/* '' */
.icon-mars-double:before {
    content: '\e959';
}

/* '' */
.icon-venus-mars:before {
    content: '\e95a';
}

/* '' */
.icon-mars-stroke:before {
    content: '\e95b';
}

/* '' */
.icon-mars-stroke-v:before {
    content: '\e95c';
}

/* '' */
.icon-mars-stroke-h:before {
    content: '\e95d';
}

/* '' */
.icon-neuter:before {
    content: '\e95e';
}

/* '' */
.icon-cc-visa:before {
    content: '\e95f';
}

/* '' */
.icon-cc-mastercard:before {
    content: '\e960';
}

/* '' */
.icon-cc-discover:before {
    content: '\e961';
}

/* '' */
.icon-cc-amex:before {
    content: '\e962';
}

/* '' */
.icon-cc-paypal:before {
    content: '\e963';
}

/* '' */
.icon-cc-stripe:before {
    content: '\e964';
}

/* '' */
.icon-adn:before {
    content: '\e965';
}

/* '' */
.icon-android:before {
    content: '\e966';
}

/* '' */
.icon-angellist:before {
    content: '\e967';
}

/* '' */
.icon-apple:before {
    content: '\e968';
}

/* '' */
.icon-behance:before {
    content: '\e969';
}

/* '' */
.icon-behance-squared:before {
    content: '\e96a';
}

/* '' */
.icon-bitbucket:before {
    content: '\e96b';
}

/* '' */
.icon-bitbucket-squared:before {
    content: '\e96c';
}

/* '' */
.icon-buysellads:before {
    content: '\e96d';
}

/* '' */
.icon-cc:before {
    content: '\e96e';
}

/* '' */
.icon-codeopen:before {
    content: '\e96f';
}

/* '' */
.icon-connectdevelop:before {
    content: '\e970';
}

/* '' */
.icon-css3:before {
    content: '\e971';
}

/* '' */
.icon-dashcube:before {
    content: '\e972';
}

/* '' */
.icon-delicious:before {
    content: '\e973';
}

/* '' */
.icon-deviantart:before {
    content: '\e974';
}

/* '' */
.icon-digg:before {
    content: '\e975';
}

/* '' */
.icon-dribbble:before {
    content: '\e976';
}

/* '' */
.icon-dropbox:before {
    content: '\e977';
}

/* '' */
.icon-drupal:before {
    content: '\e978';
}

/* '' */
.icon-facebook:before {
    content: '\e979';
}

/* '' */
.icon-facebook-squared:before {
    content: '\e97a';
}

/* '' */
.icon-facebook-official:before {
    content: '\e97b';
}

/* '' */
.icon-flickr:before {
    content: '\e97c';
}

/* '' */
.icon-forumbee:before {
    content: '\e97d';
}

/* '' */
.icon-foursquare:before {
    content: '\e97e';
}

/* '' */
.icon-git-squared:before {
    content: '\e97f';
}

/* '' */
.icon-git:before {
    content: '\e980';
}

/* '' */
.icon-github:before {
    content: '\e981';
}

/* '' */
.icon-github-squared:before {
    content: '\e982';
}

/* '' */
.icon-github-circled:before {
    content: '\e983';
}

/* '' */
.icon-gittip:before {
    content: '\e984';
}

/* '' */
.icon-google:before {
    content: '\e985';
}

/* '' */
.icon-gplus:before {
    content: '\e986';
}

/* '' */
.icon-gplus-squared:before {
    content: '\e987';
}

/* '' */
.icon-gwallet:before {
    content: '\e988';
}

/* '' */
.icon-hacker-news:before {
    content: '\e989';
}

/* '' */
.icon-html5:before {
    content: '\e98a';
}

/* '' */
.icon-instagram:before {
    content: '\e98b';
}

/* '' */
.icon-ioxhost:before {
    content: '\e98c';
}

/* '' */
.icon-joomla:before {
    content: '\e98d';
}

/* '' */
.icon-jsfiddle:before {
    content: '\e98e';
}

/* '' */
.icon-lastfm:before {
    content: '\e98f';
}

/* '' */
.icon-lastfm-squared:before {
    content: '\e990';
}

/* '' */
.icon-leanpub:before {
    content: '\e991';
}

/* '' */
.icon-linkedin-squared:before {
    content: '\e992';
}

/* '' */
.icon-linux:before {
    content: '\e993';
}

/* '' */
.icon-linkedin:before {
    content: '\e994';
}

/* '' */
.icon-maxcdn:before {
    content: '\e995';
}

/* '' */
.icon-meanpath:before {
    content: '\e996';
}

/* '' */
.icon-openid:before {
    content: '\e997';
}

/* '' */
.icon-pagelines:before {
    content: '\e998';
}

/* '' */
.icon-paypal:before {
    content: '\e999';
}

/* '' */
.icon-pied-piper-squared:before {
    content: '\e99a';
}

/* '' */
.icon-pied-piper-alt:before {
    content: '\e99b';
}

/* '' */
.icon-pinterest:before {
    content: '\e99c';
}

/* '' */
.icon-pinterest-circled:before {
    content: '\e99d';
}

/* '' */
.icon-pinterest-squared:before {
    content: '\e99e';
}

/* '' */
.icon-qq:before {
    content: '\e99f';
}

/* '' */
.icon-reddit:before {
    content: '\e9a0';
}

/* '' */
.icon-reddit-squared:before {
    content: '\e9a1';
}

/* '' */
.icon-renren:before {
    content: '\e9a2';
}

/* '' */
.icon-sellsy:before {
    content: '\e9a3';
}

/* '' */
.icon-shirtsinbulk:before {
    content: '\e9a4';
}

/* '' */
.icon-simplybuilt:before {
    content: '\e9a5';
}

/* '' */
.icon-skyatlas:before {
    content: '\e9a6';
}

/* '' */
.icon-skype:before {
    content: '\e9a7';
}

/* '' */
.icon-slack:before {
    content: '\e9a8';
}

/* '' */
.icon-slideshare:before {
    content: '\e9a9';
}

/* '' */
.icon-soundcloud:before {
    content: '\e9aa';
}

/* '' */
.icon-spotify:before {
    content: '\e9ab';
}

/* '' */
.icon-stackexchange:before {
    content: '\e9ac';
}

/* '' */
.icon-stackoverflow:before {
    content: '\e9ad';
}

/* '' */
.icon-steam:before {
    content: '\e9ae';
}

/* '' */
.icon-steam-squared:before {
    content: '\e9af';
}

/* '' */
.icon-stumbleupon:before {
    content: '\e9b0';
}

/* '' */
.icon-stumbleupon-circled:before {
    content: '\e9b1';
}

/* '' */
.icon-tencent-weibo:before {
    content: '\e9b2';
}

/* '' */
.icon-trello:before {
    content: '\e9b3';
}

/* '' */
.icon-tumblr:before {
    content: '\e9b4';
}

/* '' */
.icon-tumblr-squared:before {
    content: '\e9b5';
}

/* '' */
.icon-twitch:before {
    content: '\e9b6';
}

/* '' */
.icon-twitter-squared:before {
    content: '\e9b7';
}

/* '' */
.icon-twitter:before {
    content: '\e9b8';
}

/* '' */
.icon-vimeo-squared:before {
    content: '\e9b9';
}

/* '' */
.icon-vine:before {
    content: '\e9ba';
}

/* '' */
.icon-vkontakte:before {
    content: '\e9bb';
}

/* '' */
.icon-whatsapp:before {
    content: '\e9bc';
}

/* '' */
.icon-wechat:before {
    content: '\e9bd';
}

/* '' */
.icon-weibo:before {
    content: '\e9be';
}

/* '' */
.icon-windows:before {
    content: '\e9bf';
}

/* '' */
.icon-wordpress:before {
    content: '\e9c0';
}

/* '' */
.icon-xing:before {
    content: '\e9c1';
}

/* '' */
.icon-xing-squared:before {
    content: '\e9c2';
}

/* '' */
.icon-yelp:before {
    content: '\e9c3';
}

/* '' */
.icon-youtube:before {
    content: '\e9c4';
}

/* '' */
.icon-yahoo:before {
    content: '\e9c5';
}

/* '' */
.icon-youtube-squared:before {
    content: '\e9c6';
}

/* '' */
.icon-youtube-play:before {
    content: '\e9c7';
}

/* '' */
.icon-blank:before {
    content: '\e9c8';
}

/* '' */
.icon-lemon:before {
    content: '\e9c9';
}

/* '' */
.icon-glass:before {
    content: '\e9ca';
}

/* '' */
.icon-music:before {
    content: '\e9cb';
}

/* '' */
.icon-search:before {
    content: '\e9cc';
}

/* '' */
.icon-mail:before {
    content: '\e9cd';
}

/* '' */
.icon-mail-alt:before {
    content: '\e9ce';
}

/* '' */
.icon-mail-squared:before {
    content: '\e9cf';
}

/* '' */
.icon-heart:before {
    content: '\e9d0';
}

/* '' */
.icon-heart-empty:before {
    content: '\e9d1';
}

/* '' */
.icon-star:before {
    content: '\e9d2';
}

/* '' */
.icon-star-empty:before {
    content: '\e9d3';
}

/* '' */
.icon-star-half:before {
    content: '\e9d4';
}

/* '' */
.icon-star-half-alt:before {
    content: '\e9d5';
}

/* '' */
.icon-user:before {
    content: '\e9d6';
}

/* '' */
.icon-user-plus:before {
    content: '\e9d7';
}

/* '' */
.icon-user-times:before {
    content: '\e9d8';
}

/* '' */
.icon-users:before {
    content: '\e9d9';
}

/* '' */
.icon-male:before {
    content: '\e9da';
}

/* '' */
.icon-female:before {
    content: '\e9db';
}

/* '' */
.icon-child:before {
    content: '\e9dc';
}

/* '' */
.icon-user-secret:before {
    content: '\e9dd';
}

/* '' */
.icon-video:before {
    content: '\e9de';
}

/* '' */
.icon-videocam:before {
    content: '\e9df';
}

/* '' */
.icon-picture:before {
    content: '\e9e0';
}

/* '' */
.icon-camera:before {
    content: '\e9e1';
}

/* '' */
.icon-camera-alt:before {
    content: '\e9e2';
}

/* '' */
.icon-th-large:before {
    content: '\e9e3';
}

/* '' */
.icon-th:before {
    content: '\e9e4';
}

/* '' */
.icon-th-list:before {
    content: '\e9e5';
}

/* '' */
.icon-ok:before {
    content: '\e9e6';
}

/* '' */
.icon-ok-circled:before {
    content: '\e9e7';
}

/* '' */
.icon-ok-circled2:before {
    content: '\e9e8';
}

/* '' */
.icon-ok-squared:before {
    content: '\e9e9';
}

/* '' */
.icon-cancel:before {
    content: '\e9ea';
}

/* '' */
.icon-cancel-circled:before {
    content: '\e9eb';
}

/* '' */
.icon-cancel-circled2:before {
    content: '\e9ec';
}

/* '' */
.icon-plus:before {
    content: '\e9ed';
}

/* '' */
.icon-plus-circled:before {
    content: '\e9ee';
}

/* '' */
.icon-plus-squared:before {
    content: '\e9ef';
}

/* '' */
.icon-plus-squared-alt:before {
    content: '\e9f0';
}

/* '' */
.icon-minus:before {
    content: '\e9f1';
}

/* '' */
.icon-minus-circled:before {
    content: '\e9f2';
}

/* '' */
.icon-minus-squared:before {
    content: '\e9f3';
}

/* '' */
.icon-minus-squared-alt:before {
    content: '\e9f4';
}

/* '' */
.icon-help:before {
    content: '\e9f5';
}

/* '' */
.icon-help-circled:before {
    content: '\e9f6';
}

/* '' */
.icon-info-circled:before {
    content: '\e9f7';
}

/* '' */
.icon-info:before {
    content: '\e9f8';
}

/* '' */
.icon-home:before {
    content: '\e9f9';
}

/* '' */
.icon-link:before {
    content: '\e9fa';
}

/* '' */
.icon-unlink:before {
    content: '\e9fb';
}

/* '' */
.icon-link-ext:before {
    content: '\e9fc';
}

/* '' */
.icon-link-ext-alt:before {
    content: '\e9fd';
}

/* '' */
.icon-attach:before {
    content: '\e9fe';
}

/* '' */
.icon-lock:before {
    content: '\e9ff';
}

/* '' */
.icon-lock-open:before {
    content: '\ea00';
}

/* '' */
.icon-lock-open-alt:before {
    content: '\ea01';
}

/* '' */
.icon-pin:before {
    content: '\ea02';
}

/* '' */
.icon-eye:before {
    content: '\ea03';
}

/* '' */
.icon-eye-off:before {
    content: '\ea04';
}

/* '' */
.icon-tag:before {
    content: '\ea05';
}

/* '' */
.icon-menu:before {
    content: '\ea06';
}

/* '' */