@font-face {
    font-family: 'fa';
    src: url('../fa.eot?58334058');
    src: url('../fa.eot?58334058#iefix') format('embedded-opentype'),
    url('../fa.woff?58334058') format('woff'),
    url('../fa.ttf?58334058') format('truetype'),
    url('../fa.svg?58334058#fa') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa';
    src: url('../font/fa.svg?58334058#fa') format('svg');
  }
}
*/

[class^="fa-"]:before, [class*=" fa-"]:before {
    font-family: "fa";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-cog:before {
    content: '\e800';
}

/* '' */
.fa-tags:before {
    content: '\e801';
}

/* '' */
.fa-bookmark:before {
    content: '\e802';
}

/* '' */
.fa-bookmark-empty:before {
    content: '\e803';
}

/* '' */
.fa-flag:before {
    content: '\e804';
}

/* '' */
.fa-flag-empty:before {
    content: '\e805';
}

/* '' */
.fa-flag-checkered:before {
    content: '\e806';
}

/* '' */
.fa-thumbs-up:before {
    content: '\e807';
}

/* '' */
.fa-thumbs-down:before {
    content: '\e808';
}

/* '' */
.fa-thumbs-up-alt:before {
    content: '\e809';
}

/* '' */
.fa-thumbs-down-alt:before {
    content: '\e80a';
}

/* '' */
.fa-download:before {
    content: '\e80b';
}

/* '' */
.fa-upload:before {
    content: '\e80c';
}

/* '' */
.fa-download-cloud:before {
    content: '\e80d';
}

/* '' */
.fa-upload-cloud:before {
    content: '\e80e';
}

/* '' */
.fa-reply:before {
    content: '\e80f';
}

/* '' */
.fa-reply-all:before {
    content: '\e810';
}

/* '' */
.fa-forward:before {
    content: '\e811';
}

/* '' */
.fa-quote-left:before {
    content: '\e812';
}

/* '' */
.fa-quote-right:before {
    content: '\e813';
}

/* '' */
.fa-code:before {
    content: '\e814';
}

/* '' */
.fa-export:before {
    content: '\e815';
}

/* '' */
.fa-export-alt:before {
    content: '\e816';
}

/* '' */
.fa-share:before {
    content: '\e817';
}

/* '' */
.fa-share-squared:before {
    content: '\e818';
}

/* '' */
.fa-pencil:before {
    content: '\e819';
}

/* '' */
.fa-pencil-squared:before {
    content: '\e81a';
}

/* '' */
.fa-edit:before {
    content: '\e81b';
}

/* '' */
.fa-print:before {
    content: '\e81c';
}

/* '' */
.fa-retweet:before {
    content: '\e81d';
}

/* '' */
.fa-keyboard:before {
    content: '\e81e';
}

/* '' */
.fa-gamepad:before {
    content: '\e81f';
}

/* '' */
.fa-comment:before {
    content: '\e820';
}

/* '' */
.fa-chat:before {
    content: '\e821';
}

/* '' */
.fa-comment-empty:before {
    content: '\e822';
}

/* '' */
.fa-chat-empty:before {
    content: '\e823';
}

/* '' */
.fa-bell:before {
    content: '\e824';
}

/* '' */
.fa-bell-alt:before {
    content: '\e825';
}

/* '' */
.fa-bell-off:before {
    content: '\e826';
}

/* '' */
.fa-bell-off-empty:before {
    content: '\e827';
}

/* '' */
.fa-attention-alt:before {
    content: '\e828';
}

/* '' */
.fa-attention:before {
    content: '\e829';
}

/* '' */
.fa-attention-circled:before {
    content: '\e82a';
}

/* '' */
.fa-location:before {
    content: '\e82b';
}

/* '' */
.fa-direction:before {
    content: '\e82c';
}

/* '' */
.fa-compass:before {
    content: '\e82d';
}

/* '' */
.fa-trash:before {
    content: '\e82e';
}

/* '' */
.fa-trash-empty:before {
    content: '\e82f';
}

/* '' */
.fa-doc:before {
    content: '\e830';
}

/* '' */
.fa-docs:before {
    content: '\e831';
}

/* '' */
.fa-doc-text:before {
    content: '\e832';
}

/* '' */
.fa-doc-inv:before {
    content: '\e833';
}

/* '' */
.fa-doc-text-inv:before {
    content: '\e834';
}

/* '' */
.fa-file-pdf:before {
    content: '\e835';
}

/* '' */
.fa-file-word:before {
    content: '\e836';
}

/* '' */
.fa-file-excel:before {
    content: '\e837';
}

/* '' */
.fa-file-powerpoint:before {
    content: '\e838';
}

/* '' */
.fa-file-image:before {
    content: '\e839';
}

/* '' */
.fa-file-archive:before {
    content: '\e83a';
}

/* '' */
.fa-file-audio:before {
    content: '\e83b';
}

/* '' */
.fa-file-video:before {
    content: '\e83c';
}

/* '' */
.fa-file-code:before {
    content: '\e83d';
}

/* '' */
.fa-folder:before {
    content: '\e83e';
}

/* '' */
.fa-folder-open:before {
    content: '\e83f';
}

/* '' */
.fa-folder-empty:before {
    content: '\e840';
}

/* '' */
.fa-folder-open-empty:before {
    content: '\e841';
}

/* '' */
.fa-box:before {
    content: '\e842';
}

/* '' */
.fa-rss:before {
    content: '\e843';
}

/* '' */
.fa-rss-squared:before {
    content: '\e844';
}

/* '' */
.fa-phone:before {
    content: '\e845';
}

/* '' */
.fa-phone-squared:before {
    content: '\e846';
}

/* '' */
.fa-fax:before {
    content: '\e847';
}

/* '' */
.fa-cog-alt:before {
    content: '\e848';
}

/* '' */
.fa-wrench:before {
    content: '\e849';
}

/* '' */
.fa-sliders:before {
    content: '\e84a';
}

/* '' */
.fa-basket:before {
    content: '\e84b';
}

/* '' */
.fa-cart-plus:before {
    content: '\e84c';
}

/* '' */
.fa-cart-arrow-down:before {
    content: '\e84d';
}

/* '' */
.fa-calendar:before {
    content: '\e84e';
}

/* '' */
.fa-calendar-empty:before {
    content: '\e84f';
}

/* '' */
.fa-login:before {
    content: '\e850';
}

/* '' */
.fa-logout:before {
    content: '\e851';
}

/* '' */
.fa-mic:before {
    content: '\e852';
}

/* '' */
.fa-mute:before {
    content: '\e853';
}

/* '' */
.fa-volume-off:before {
    content: '\e854';
}

/* '' */
.fa-volume-down:before {
    content: '\e855';
}

/* '' */
.fa-volume-up:before {
    content: '\e856';
}

/* '' */
.fa-headphones:before {
    content: '\e857';
}

/* '' */
.fa-clock:before {
    content: '\e858';
}

/* '' */
.fa-lightbulb:before {
    content: '\e859';
}

/* '' */
.fa-block:before {
    content: '\e85a';
}

/* '' */
.fa-resize-full:before {
    content: '\e85b';
}

/* '' */
.fa-resize-full-alt:before {
    content: '\e85c';
}

/* '' */
.fa-resize-small:before {
    content: '\e85d';
}

/* '' */
.fa-resize-vertical:before {
    content: '\e85e';
}

/* '' */
.fa-resize-horizontal:before {
    content: '\e85f';
}

/* '' */
.fa-move:before {
    content: '\e860';
}

/* '' */
.fa-zoom-in:before {
    content: '\e861';
}

/* '' */
.fa-zoom-out:before {
    content: '\e862';
}

/* '' */
.fa-down-circled2:before {
    content: '\e863';
}

/* '' */
.fa-up-circled2:before {
    content: '\e864';
}

/* '' */
.fa-left-circled2:before {
    content: '\e865';
}

/* '' */
.fa-right-circled2:before {
    content: '\e866';
}

/* '' */
.fa-down-dir:before {
    content: '\e867';
}

/* '' */
.fa-up-dir:before {
    content: '\e868';
}

/* '' */
.fa-left-dir:before {
    content: '\e869';
}

/* '' */
.fa-right-dir:before {
    content: '\e86a';
}

/* '' */
.fa-down-open:before {
    content: '\e86b';
}

/* '' */
.fa-left-open:before {
    content: '\e86c';
}

/* '' */
.fa-right-open:before {
    content: '\e86d';
}

/* '' */
.fa-up-open:before {
    content: '\e86e';
}

/* '' */
.fa-angle-left:before {
    content: '\e86f';
}

/* '' */
.fa-angle-right:before {
    content: '\e870';
}

/* '' */
.fa-angle-up:before {
    content: '\e871';
}

/* '' */
.fa-angle-down:before {
    content: '\e872';
}

/* '' */
.fa-angle-circled-left:before {
    content: '\e873';
}

/* '' */
.fa-angle-circled-right:before {
    content: '\e874';
}

/* '' */
.fa-angle-circled-up:before {
    content: '\e875';
}

/* '' */
.fa-angle-circled-down:before {
    content: '\e876';
}

/* '' */
.fa-angle-double-left:before {
    content: '\e877';
}

/* '' */
.fa-angle-double-right:before {
    content: '\e878';
}

/* '' */
.fa-angle-double-up:before {
    content: '\e879';
}

/* '' */
.fa-angle-double-down:before {
    content: '\e87a';
}

/* '' */
.fa-down:before {
    content: '\e87b';
}

/* '' */
.fa-left:before {
    content: '\e87c';
}

/* '' */
.fa-right:before {
    content: '\e87d';
}

/* '' */
.fa-up:before {
    content: '\e87e';
}

/* '' */
.fa-down-big:before {
    content: '\e87f';
}

/* '' */
.fa-left-big:before {
    content: '\e880';
}

/* '' */
.fa-right-big:before {
    content: '\e881';
}

/* '' */
.fa-up-big:before {
    content: '\e882';
}

/* '' */
.fa-right-hand:before {
    content: '\e883';
}

/* '' */
.fa-left-hand:before {
    content: '\e884';
}

/* '' */
.fa-up-hand:before {
    content: '\e885';
}

/* '' */
.fa-down-hand:before {
    content: '\e886';
}

/* '' */
.fa-left-circled:before {
    content: '\e887';
}

/* '' */
.fa-right-circled:before {
    content: '\e888';
}

/* '' */
.fa-up-circled:before {
    content: '\e889';
}

/* '' */
.fa-down-circled:before {
    content: '\e88a';
}

/* '' */
.fa-cw:before {
    content: '\e88b';
}

/* '' */
.fa-ccw:before {
    content: '\e88c';
}

/* '' */
.fa-arrows-cw:before {
    content: '\e88d';
}

/* '' */
.fa-level-up:before {
    content: '\e88e';
}

/* '' */
.fa-level-down:before {
    content: '\e88f';
}

/* '' */
.fa-shuffle:before {
    content: '\e890';
}

/* '' */
.fa-exchange:before {
    content: '\e891';
}

/* '' */
.fa-history:before {
    content: '\e892';
}

/* '' */
.fa-expand:before {
    content: '\e893';
}

/* '' */
.fa-collapse:before {
    content: '\e894';
}

/* '' */
.fa-expand-right:before {
    content: '\e895';
}

/* '' */
.fa-collapse-left:before {
    content: '\e896';
}

/* '' */
.fa-play:before {
    content: '\e897';
}

/* '' */
.fa-play-circled:before {
    content: '\e898';
}

/* '' */
.fa-play-circled2:before {
    content: '\e899';
}

/* '' */
.fa-stop:before {
    content: '\e89a';
}

/* '' */
.fa-pause:before {
    content: '\e89b';
}

/* '' */
.fa-to-end:before {
    content: '\e89c';
}

/* '' */
.fa-to-end-alt:before {
    content: '\e89d';
}

/* '' */
.fa-to-start:before {
    content: '\e89e';
}

/* '' */
.fa-to-start-alt:before {
    content: '\e89f';
}

/* '' */
.fa-fast-fw:before {
    content: '\e8a0';
}

/* '' */
.fa-fast-bw:before {
    content: '\e8a1';
}

/* '' */
.fa-eject:before {
    content: '\e8a2';
}

/* '' */
.fa-target:before {
    content: '\e8a3';
}

/* '' */
.fa-signal:before {
    content: '\e8a4';
}

/* '' */
.fa-wifi:before {
    content: '\e8a5';
}

/* '' */
.fa-award:before {
    content: '\e8a6';
}

/* '' */
.fa-desktop:before {
    content: '\e8a7';
}

/* '' */
.fa-laptop:before {
    content: '\e8a8';
}

/* '' */
.fa-tablet:before {
    content: '\e8a9';
}

/* '' */
.fa-mobile:before {
    content: '\e8aa';
}

/* '' */
.fa-inbox:before {
    content: '\e8ab';
}

/* '' */
.fa-globe:before {
    content: '\e8ac';
}

/* '' */
.fa-sun:before {
    content: '\e8ad';
}

/* '' */
.fa-cloud:before {
    content: '\e8ae';
}

/* '' */
.fa-flash:before {
    content: '\e8af';
}

/* '' */
.fa-moon:before {
    content: '\e8b0';
}

/* '' */
.fa-umbrella:before {
    content: '\e8b1';
}

/* '' */
.fa-flight:before {
    content: '\e8b2';
}

/* '' */
.fa-fighter-jet:before {
    content: '\e8b3';
}

/* '' */
.fa-paper-plane:before {
    content: '\e8b4';
}

/* '' */
.fa-paper-plane-empty:before {
    content: '\e8b5';
}

/* '' */
.fa-space-shuttle:before {
    content: '\e8b6';
}

/* '' */
.fa-leaf:before {
    content: '\e8b7';
}

/* '' */
.fa-font:before {
    content: '\e8b8';
}

/* '' */
.fa-bold:before {
    content: '\e8b9';
}

/* '' */
.fa-medium:before {
    content: '\e8ba';
}

/* '' */
.fa-italic:before {
    content: '\e8bb';
}

/* '' */
.fa-header:before {
    content: '\e8bc';
}

/* '' */
.fa-paragraph:before {
    content: '\e8bd';
}

/* '' */
.fa-text-height:before {
    content: '\e8be';
}

/* '' */
.fa-text-width:before {
    content: '\e8bf';
}

/* '' */
.fa-align-left:before {
    content: '\e8c0';
}

/* '' */
.fa-align-center:before {
    content: '\e8c1';
}

/* '' */
.fa-align-right:before {
    content: '\e8c2';
}

/* '' */
.fa-align-justify:before {
    content: '\e8c3';
}

/* '' */
.fa-list:before {
    content: '\e8c4';
}

/* '' */
.fa-indent-left:before {
    content: '\e8c5';
}

/* '' */
.fa-indent-right:before {
    content: '\e8c6';
}

/* '' */
.fa-list-bullet:before {
    content: '\e8c7';
}

/* '' */
.fa-list-numbered:before {
    content: '\e8c8';
}

/* '' */
.fa-strike:before {
    content: '\e8c9';
}

/* '' */
.fa-underline:before {
    content: '\e8ca';
}

/* '' */
.fa-superscript:before {
    content: '\e8cb';
}

/* '' */
.fa-subscript:before {
    content: '\e8cc';
}

/* '' */
.fa-table:before {
    content: '\e8cd';
}

/* '' */
.fa-columns:before {
    content: '\e8ce';
}

/* '' */
.fa-crop:before {
    content: '\e8cf';
}

/* '' */
.fa-scissors:before {
    content: '\e8d0';
}

/* '' */
.fa-paste:before {
    content: '\e8d1';
}

/* '' */
.fa-briefcase:before {
    content: '\e8d2';
}

/* '' */
.fa-suitcase:before {
    content: '\e8d3';
}

/* '' */
.fa-ellipsis:before {
    content: '\e8d4';
}

/* '' */
.fa-ellipsis-vert:before {
    content: '\e8d5';
}

/* '' */
.fa-off:before {
    content: '\e8d6';
}

/* '' */
.fa-road:before {
    content: '\e8d7';
}

/* '' */
.fa-list-alt:before {
    content: '\e8d8';
}

/* '' */
.fa-qrcode:before {
    content: '\e8d9';
}

/* '' */
.fa-barcode:before {
    content: '\e8da';
}

/* '' */
.fa-book:before {
    content: '\e8db';
}

/* '' */
.fa-ajust:before {
    content: '\e8dc';
}

/* '' */
.fa-tint:before {
    content: '\e8dd';
}

/* '' */
.fa-toggle-off:before {
    content: '\e8de';
}

/* '' */
.fa-toggle-on:before {
    content: '\e8df';
}

/* '' */
.fa-check:before {
    content: '\e8e0';
}

/* '' */
.fa-check-empty:before {
    content: '\e8e1';
}

/* '' */
.fa-circle:before {
    content: '\e8e2';
}

/* '' */
.fa-circle-empty:before {
    content: '\e8e3';
}

/* '' */
.fa-circle-thin:before {
    content: '\e8e4';
}

/* '' */
.fa-circle-notch:before {
    content: '\e8e5';
}

/* '' */
.fa-dot-circled:before {
    content: '\e8e6';
}

/* '' */
.fa-asterisk:before {
    content: '\e8e7';
}

/* '' */
.fa-gift:before {
    content: '\e8e8';
}

/* '' */
.fa-fire:before {
    content: '\e8e9';
}

/* '' */
.fa-magnet:before {
    content: '\e8ea';
}

/* '' */
.fa-chart-bar:before {
    content: '\e8eb';
}

/* '' */
.fa-chart-area:before {
    content: '\e8ec';
}

/* '' */
.fa-chart-pie:before {
    content: '\e8ed';
}

/* '' */
.fa-chart-line:before {
    content: '\e8ee';
}

/* '' */
.fa-ticket:before {
    content: '\e8ef';
}

/* '' */
.fa-credit-card:before {
    content: '\e8f0';
}

/* '' */
.fa-floppy:before {
    content: '\e8f1';
}

/* '' */
.fa-megaphone:before {
    content: '\e8f2';
}

/* '' */
.fa-hdd:before {
    content: '\e8f3';
}

/* '' */
.fa-key:before {
    content: '\e8f4';
}

/* '' */
.fa-fork:before {
    content: '\e8f5';
}

/* '' */
.fa-rocket:before {
    content: '\e8f6';
}

/* '' */
.fa-bug:before {
    content: '\e8f7';
}

/* '' */
.fa-certificate:before {
    content: '\e8f8';
}

/* '' */
.fa-tasks:before {
    content: '\e8f9';
}

/* '' */
.fa-filter:before {
    content: '\e8fa';
}

/* '' */
.fa-beaker:before {
    content: '\e8fb';
}

/* '' */
.fa-magic:before {
    content: '\e8fc';
}

/* '' */
.fa-cab:before {
    content: '\e8fd';
}

/* '' */
.fa-taxi:before {
    content: '\e8fe';
}

/* '' */
.fa-truck:before {
    content: '\e8ff';
}

/* '' */
.fa-bus:before {
    content: '\e900';
}

/* '' */
.fa-bicycle:before {
    content: '\e901';
}

/* '' */
.fa-motorcycle:before {
    content: '\e902';
}

/* '' */
.fa-train:before {
    content: '\e903';
}

/* '' */
.fa-subway:before {
    content: '\e904';
}

/* '' */
.fa-ship:before {
    content: '\e905';
}

/* '' */
.fa-money:before {
    content: '\e906';
}

/* '' */
.fa-euro:before {
    content: '\e907';
}

/* '' */
.fa-pound:before {
    content: '\e908';
}

/* '' */
.fa-dollar:before {
    content: '\e909';
}

/* '' */
.fa-rupee:before {
    content: '\e90a';
}

/* '' */
.fa-yen:before {
    content: '\e90b';
}

/* '' */
.fa-rouble:before {
    content: '\e90c';
}

/* '' */
.fa-shekel:before {
    content: '\e90d';
}

/* '' */
.fa-try:before {
    content: '\e90e';
}

/* '' */
.fa-won:before {
    content: '\e90f';
}

/* '' */
.fa-bitcoin:before {
    content: '\e910';
}

/* '' */
.fa-viacoin:before {
    content: '\e911';
}

/* '' */
.fa-sort:before {
    content: '\e912';
}

/* '' */
.fa-sort-down:before {
    content: '\e913';
}

/* '' */
.fa-sort-up:before {
    content: '\e914';
}

/* '' */
.fa-sort-alt-up:before {
    content: '\e915';
}

/* '' */
.fa-sort-alt-down:before {
    content: '\e916';
}

/* '' */
.fa-sort-name-up:before {
    content: '\e917';
}

/* '' */
.fa-sort-name-down:before {
    content: '\e918';
}

/* '' */
.fa-sort-number-up:before {
    content: '\e919';
}

/* '' */
.fa-sort-number-down:before {
    content: '\e91a';
}

/* '' */
.fa-hammer:before {
    content: '\e91b';
}

/* '' */
.fa-gauge:before {
    content: '\e91c';
}

/* '' */
.fa-sitemap:before {
    content: '\e91d';
}

/* '' */
.fa-spinner:before {
    content: '\e91e';
}

/* '' */
.fa-coffee:before {
    content: '\e91f';
}

/* '' */
.fa-food:before {
    content: '\e920';
}

/* '' */
.fa-beer:before {
    content: '\e921';
}

/* '' */
.fa-user-md:before {
    content: '\e922';
}

/* '' */
.fa-stethoscope:before {
    content: '\e923';
}

/* '' */
.fa-heartbeat:before {
    content: '\e924';
}

/* '' */
.fa-ambulance:before {
    content: '\e925';
}

/* '' */
.fa-medkit:before {
    content: '\e926';
}

/* '' */
.fa-h-sigh:before {
    content: '\e927';
}

/* '' */
.fa-bed:before {
    content: '\e928';
}

/* '' */
.fa-hospital:before {
    content: '\e929';
}

/* '' */
.fa-building:before {
    content: '\e92a';
}

/* '' */
.fa-building-filled:before {
    content: '\e92b';
}

/* '' */
.fa-bank:before {
    content: '\e92c';
}

/* '' */
.fa-smile:before {
    content: '\e92d';
}

/* '' */
.fa-frown:before {
    content: '\e92e';
}

/* '' */
.fa-meh:before {
    content: '\e92f';
}

/* '' */
.fa-anchor:before {
    content: '\e930';
}

/* '' */
.fa-terminal:before {
    content: '\e931';
}

/* '' */
.fa-eraser:before {
    content: '\e932';
}

/* '' */
.fa-puzzle:before {
    content: '\e933';
}

/* '' */
.fa-shield:before {
    content: '\e934';
}

/* '' */
.fa-extinguisher:before {
    content: '\e935';
}

/* '' */
.fa-bullseye:before {
    content: '\e936';
}

/* '' */
.fa-wheelchair:before {
    content: '\e937';
}

/* '' */
.fa-language:before {
    content: '\e938';
}

/* '' */
.fa-graduation-cap:before {
    content: '\e939';
}

/* '' */
.fa-paw:before {
    content: '\e93a';
}

/* '' */
.fa-spoon:before {
    content: '\e93b';
}

/* '' */
.fa-cube:before {
    content: '\e93c';
}

/* '' */
.fa-cubes:before {
    content: '\e93d';
}

/* '' */
.fa-recycle:before {
    content: '\e93e';
}

/* '' */
.fa-tree:before {
    content: '\e93f';
}

/* '' */
.fa-database:before {
    content: '\e940';
}

/* '' */
.fa-server:before {
    content: '\e941';
}

/* '' */
.fa-lifebuoy:before {
    content: '\e942';
}

/* '' */
.fa-rebel:before {
    content: '\e943';
}

/* '' */
.fa-empire:before {
    content: '\e944';
}

/* '' */
.fa-bomb:before {
    content: '\e945';
}

/* '' */
.fa-soccer-ball:before {
    content: '\e946';
}

/* '' */
.fa-tty:before {
    content: '\e947';
}

/* '' */
.fa-binoculars:before {
    content: '\e948';
}

/* '' */
.fa-plug:before {
    content: '\e949';
}

/* '' */
.fa-newspaper:before {
    content: '\e94a';
}

/* '' */
.fa-calc:before {
    content: '\e94b';
}

/* '' */
.fa-copyright:before {
    content: '\e94c';
}

/* '' */
.fa-at:before {
    content: '\e94d';
}

/* '' */
.fa-eyedropper:before {
    content: '\e94e';
}

/* '' */
.fa-brush:before {
    content: '\e94f';
}

/* '' */
.fa-birthday:before {
    content: '\e950';
}

/* '' */
.fa-diamond:before {
    content: '\e951';
}

/* '' */
.fa-street-view:before {
    content: '\e952';
}

/* '' */
.fa-venus:before {
    content: '\e953';
}

/* '' */
.fa-mars:before {
    content: '\e954';
}

/* '' */
.fa-mercury:before {
    content: '\e955';
}

/* '' */
.fa-transgender:before {
    content: '\e956';
}

/* '' */
.fa-transgender-alt:before {
    content: '\e957';
}

/* '' */
.fa-venus-double:before {
    content: '\e958';
}

/* '' */
.fa-mars-double:before {
    content: '\e959';
}

/* '' */
.fa-venus-mars:before {
    content: '\e95a';
}

/* '' */
.fa-mars-stroke:before {
    content: '\e95b';
}

/* '' */
.fa-mars-stroke-v:before {
    content: '\e95c';
}

/* '' */
.fa-mars-stroke-h:before {
    content: '\e95d';
}

/* '' */
.fa-neuter:before {
    content: '\e95e';
}

/* '' */
.fa-cc-visa:before {
    content: '\e95f';
}

/* '' */
.fa-cc-mastercard:before {
    content: '\e960';
}

/* '' */
.fa-cc-discover:before {
    content: '\e961';
}

/* '' */
.fa-cc-amex:before {
    content: '\e962';
}

/* '' */
.fa-cc-paypal:before {
    content: '\e963';
}

/* '' */
.fa-cc-stripe:before {
    content: '\e964';
}

/* '' */
.fa-adn:before {
    content: '\e965';
}

/* '' */
.fa-android:before {
    content: '\e966';
}

/* '' */
.fa-angellist:before {
    content: '\e967';
}

/* '' */
.fa-apple:before {
    content: '\e968';
}

/* '' */
.fa-behance:before {
    content: '\e969';
}

/* '' */
.fa-behance-squared:before {
    content: '\e96a';
}

/* '' */
.fa-bitbucket:before {
    content: '\e96b';
}

/* '' */
.fa-bitbucket-squared:before {
    content: '\e96c';
}

/* '' */
.fa-buysellads:before {
    content: '\e96d';
}

/* '' */
.fa-cc:before {
    content: '\e96e';
}

/* '' */
.fa-codeopen:before {
    content: '\e96f';
}

/* '' */
.fa-connectdevelop:before {
    content: '\e970';
}

/* '' */
.fa-css3:before {
    content: '\e971';
}

/* '' */
.fa-dashcube:before {
    content: '\e972';
}

/* '' */
.fa-delicious:before {
    content: '\e973';
}

/* '' */
.fa-deviantart:before {
    content: '\e974';
}

/* '' */
.fa-digg:before {
    content: '\e975';
}

/* '' */
.fa-dribbble:before {
    content: '\e976';
}

/* '' */
.fa-dropbox:before {
    content: '\e977';
}

/* '' */
.fa-drupal:before {
    content: '\e978';
}

/* '' */
.fa-facebook:before {
    content: '\e979';
}

/* '' */
.fa-facebook-squared:before {
    content: '\e97a';
}

/* '' */
.fa-facebook-official:before {
    content: '\e97b';
}

/* '' */
.fa-flickr:before {
    content: '\e97c';
}

/* '' */
.fa-forumbee:before {
    content: '\e97d';
}

/* '' */
.fa-foursquare:before {
    content: '\e97e';
}

/* '' */
.fa-git-squared:before {
    content: '\e97f';
}

/* '' */
.fa-git:before {
    content: '\e980';
}

/* '' */
.fa-github:before {
    content: '\e981';
}

/* '' */
.fa-github-squared:before {
    content: '\e982';
}

/* '' */
.fa-github-circled:before {
    content: '\e983';
}

/* '' */
.fa-gittip:before {
    content: '\e984';
}

/* '' */
.fa-google:before {
    content: '\e985';
}

/* '' */
.fa-gplus:before {
    content: '\e986';
}

/* '' */
.fa-gplus-squared:before {
    content: '\e987';
}

/* '' */
.fa-gwallet:before {
    content: '\e988';
}

/* '' */
.fa-hacker-news:before {
    content: '\e989';
}

/* '' */
.fa-html5:before {
    content: '\e98a';
}

/* '' */
.fa-instagram:before {
    content: '\e98b';
}

/* '' */
.fa-ioxhost:before {
    content: '\e98c';
}

/* '' */
.fa-joomla:before {
    content: '\e98d';
}

/* '' */
.fa-jsfiddle:before {
    content: '\e98e';
}

/* '' */
.fa-lastfm:before {
    content: '\e98f';
}

/* '' */
.fa-lastfm-squared:before {
    content: '\e990';
}

/* '' */
.fa-leanpub:before {
    content: '\e991';
}

/* '' */
.fa-linkedin-squared:before {
    content: '\e992';
}

/* '' */
.fa-linux:before {
    content: '\e993';
}

/* '' */
.fa-linkedin:before {
    content: '\e994';
}

/* '' */
.fa-maxcdn:before {
    content: '\e995';
}

/* '' */
.fa-meanpath:before {
    content: '\e996';
}

/* '' */
.fa-openid:before {
    content: '\e997';
}

/* '' */
.fa-pagelines:before {
    content: '\e998';
}

/* '' */
.fa-paypal:before {
    content: '\e999';
}

/* '' */
.fa-pied-piper-squared:before {
    content: '\e99a';
}

/* '' */
.fa-pied-piper-alt:before {
    content: '\e99b';
}

/* '' */
.fa-pinterest:before {
    content: '\e99c';
}

/* '' */
.fa-pinterest-circled:before {
    content: '\e99d';
}

/* '' */
.fa-pinterest-squared:before {
    content: '\e99e';
}

/* '' */
.fa-qq:before {
    content: '\e99f';
}

/* '' */
.fa-reddit:before {
    content: '\e9a0';
}

/* '' */
.fa-reddit-squared:before {
    content: '\e9a1';
}

/* '' */
.fa-renren:before {
    content: '\e9a2';
}

/* '' */
.fa-sellsy:before {
    content: '\e9a3';
}

/* '' */
.fa-shirtsinbulk:before {
    content: '\e9a4';
}

/* '' */
.fa-simplybuilt:before {
    content: '\e9a5';
}

/* '' */
.fa-skyatlas:before {
    content: '\e9a6';
}

/* '' */
.fa-skype:before {
    content: '\e9a7';
}

/* '' */
.fa-slack:before {
    content: '\e9a8';
}

/* '' */
.fa-slideshare:before {
    content: '\e9a9';
}

/* '' */
.fa-soundcloud:before {
    content: '\e9aa';
}

/* '' */
.fa-spotify:before {
    content: '\e9ab';
}

/* '' */
.fa-stackexchange:before {
    content: '\e9ac';
}

/* '' */
.fa-stackoverflow:before {
    content: '\e9ad';
}

/* '' */
.fa-steam:before {
    content: '\e9ae';
}

/* '' */
.fa-steam-squared:before {
    content: '\e9af';
}

/* '' */
.fa-stumbleupon:before {
    content: '\e9b0';
}

/* '' */
.fa-stumbleupon-circled:before {
    content: '\e9b1';
}

/* '' */
.fa-tencent-weibo:before {
    content: '\e9b2';
}

/* '' */
.fa-trello:before {
    content: '\e9b3';
}

/* '' */
.fa-tumblr:before {
    content: '\e9b4';
}

/* '' */
.fa-tumblr-squared:before {
    content: '\e9b5';
}

/* '' */
.fa-twitch:before {
    content: '\e9b6';
}

/* '' */
.fa-twitter-squared:before {
    content: '\e9b7';
}

/* '' */
.fa-twitter:before {
    content: '\e9b8';
}

/* '' */
.fa-vimeo-squared:before {
    content: '\e9b9';
}

/* '' */
.fa-vine:before {
    content: '\e9ba';
}

/* '' */
.fa-vkontakte:before {
    content: '\e9bb';
}

/* '' */
.fa-whatsapp:before {
    content: '\e9bc';
}

/* '' */
.fa-wechat:before {
    content: '\e9bd';
}

/* '' */
.fa-weibo:before {
    content: '\e9be';
}

/* '' */
.fa-windows:before {
    content: '\e9bf';
}

/* '' */
.fa-wordpress:before {
    content: '\e9c0';
}

/* '' */
.fa-xing:before {
    content: '\e9c1';
}

/* '' */
.fa-xing-squared:before {
    content: '\e9c2';
}

/* '' */
.fa-yelp:before {
    content: '\e9c3';
}

/* '' */
.fa-youtube:before {
    content: '\e9c4';
}

/* '' */
.fa-yahoo:before {
    content: '\e9c5';
}

/* '' */
.fa-youtube-squared:before {
    content: '\e9c6';
}

/* '' */
.fa-youtube-play:before {
    content: '\e9c7';
}

/* '' */
.fa-blank:before {
    content: '\e9c8';
}

/* '' */
.fa-lemon:before {
    content: '\e9c9';
}

/* '' */
.fa-glass:before {
    content: '\e9ca';
}

/* '' */
.fa-music:before {
    content: '\e9cb';
}

/* '' */
.fa-search:before {
    content: '\e9cc';
}

/* '' */
.fa-mail:before {
    content: '\e9cd';
}

/* '' */
.fa-mail-alt:before {
    content: '\e9ce';
}

/* '' */
.fa-mail-squared:before {
    content: '\e9cf';
}

/* '' */
.fa-heart:before {
    content: '\e9d0';
}

/* '' */
.fa-heart-empty:before {
    content: '\e9d1';
}

/* '' */
.fa-star:before {
    content: '\e9d2';
}

/* '' */
.fa-star-empty:before {
    content: '\e9d3';
}

/* '' */
.fa-star-half:before {
    content: '\e9d4';
}

/* '' */
.fa-star-half-alt:before {
    content: '\e9d5';
}

/* '' */
.fa-user:before {
    content: '\e9d6';
}

/* '' */
.fa-user-plus:before {
    content: '\e9d7';
}

/* '' */
.fa-user-times:before {
    content: '\e9d8';
}

/* '' */
.fa-users:before {
    content: '\e9d9';
}

/* '' */
.fa-male:before {
    content: '\e9da';
}

/* '' */
.fa-female:before {
    content: '\e9db';
}

/* '' */
.fa-child:before {
    content: '\e9dc';
}

/* '' */
.fa-user-secret:before {
    content: '\e9dd';
}

/* '' */
.fa-video:before {
    content: '\e9de';
}

/* '' */
.fa-videocam:before {
    content: '\e9df';
}

/* '' */
.fa-picture:before {
    content: '\e9e0';
}

/* '' */
.fa-camera:before {
    content: '\e9e1';
}

/* '' */
.fa-camera-alt:before {
    content: '\e9e2';
}

/* '' */
.fa-th-large:before {
    content: '\e9e3';
}

/* '' */
.fa-th:before {
    content: '\e9e4';
}

/* '' */
.fa-th-list:before {
    content: '\e9e5';
}

/* '' */
.fa-ok:before {
    content: '\e9e6';
}

/* '' */
.fa-ok-circled:before {
    content: '\e9e7';
}

/* '' */
.fa-ok-circled2:before {
    content: '\e9e8';
}

/* '' */
.fa-ok-squared:before {
    content: '\e9e9';
}

/* '' */
.fa-cancel:before {
    content: '\e9ea';
}

/* '' */
.fa-cancel-circled:before {
    content: '\e9eb';
}

/* '' */
.fa-cancel-circled2:before {
    content: '\e9ec';
}

/* '' */
.fa-plus:before {
    content: '\e9ed';
}

/* '' */
.fa-plus-circled:before {
    content: '\e9ee';
}

/* '' */
.fa-plus-squared:before {
    content: '\e9ef';
}

/* '' */
.fa-plus-squared-alt:before {
    content: '\e9f0';
}

/* '' */
.fa-minus:before {
    content: '\e9f1';
}

/* '' */
.fa-minus-circled:before {
    content: '\e9f2';
}

/* '' */
.fa-minus-squared:before {
    content: '\e9f3';
}

/* '' */
.fa-minus-squared-alt:before {
    content: '\e9f4';
}

/* '' */
.fa-help:before {
    content: '\e9f5';
}

/* '' */
.fa-help-circled:before {
    content: '\e9f6';
}

/* '' */
.fa-info-circled:before {
    content: '\e9f7';
}

/* '' */
.fa-info:before {
    content: '\e9f8';
}

/* '' */
.fa-home:before {
    content: '\e9f9';
}

/* '' */
.fa-link:before {
    content: '\e9fa';
}

/* '' */
.fa-unlink:before {
    content: '\e9fb';
}

/* '' */
.fa-link-ext:before {
    content: '\e9fc';
}

/* '' */
.fa-link-ext-alt:before {
    content: '\e9fd';
}

/* '' */
.fa-attach:before {
    content: '\e9fe';
}

/* '' */
.fa-lock:before {
    content: '\e9ff';
}

/* '' */
.fa-lock-open:before {
    content: '\ea00';
}

/* '' */
.fa-lock-open-alt:before {
    content: '\ea01';
}

/* '' */
.fa-pin:before {
    content: '\ea02';
}

/* '' */
.fa-eye:before {
    content: '\ea03';
}

/* '' */
.fa-eye-off:before {
    content: '\ea04';
}

/* '' */
.fa-tag:before {
    content: '\ea05';
}

/* '' */
.fa-menu:before {
    content: '\ea06';
}

/* '' */