.daterangepicker.dropdown-menu {
	max-width: none;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
	float: left;
	margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
	float: right;
	margin: 4px;
}

.daterangepicker .ranges {
	width: 160px;
	text-align: left;
}

.daterangepicker .ranges .range_inputs > div {
	float: left;
}

.daterangepicker .ranges .range_inputs > div:nth-child(2) {
	padding-left: 11px;
	float: right;
}

.daterangepicker .calendar {
	display: none;
	max-width: 230px;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	text-align: center;
}

.daterangepicker .ranges label {
	display: block;
	color: #333;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.daterangepicker .ranges input {
	width: 70px;
	padding: 6px;
	font-family: arial,helvetica;
	font-size: 11px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.daterangepicker .ranges ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.daterangepicker .ranges li {
	font-size: 13px;
	background: #f5f5f5;
	color: #333;
	padding: 3px 12px;
	margin-bottom: 8px;
	cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
	background: #38599e;
	color: #fff;
}

.daterangepicker .calendar {
	border: 1px solid #ddd;
	padding: 4px;
	border-radius: 4px;
	background: #fff;
}

.daterangepicker {
	position: absolute;
	background: #fff;
	top: 100px;
	left: 20px;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.daterangepicker.opensleft:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.daterangepicker.opensleft:after {
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.daterangepicker.opensright:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.daterangepicker.opensright:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.daterangepicker table {
	width: 100%;
	margin: 0;
}

.daterangepicker td, .daterangepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
}

.daterangepicker td.off {
	color: #999;
}

.daterangepicker td.disabled {
	color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
	background: #eee;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
	background-color: #38599e;
	border: none;
	color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
	font-size: 80%;
	color: #ccc;
}

/* custom part */
.dashboard-date-range {
	display: none;
	padding: 0 8px;
	cursor: pointer;
	min-width: 258px;
	color: #fff;
	line-height: 34px;
	/*background: #0a5aa1;*/
}
.dashboard-date-range:hover {
	background-color: #607ab2;
	color: #000;
}
.dashboard-date-range span {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
.dashboard-date-range .icon-calendar {
	text-transform: normal;
	color: #fff;
	margin-top: 0px;
	font-size: 14px;
}
.dashboard-date-range .icon-angle-down {
	color: #fff;
	font-size: 16px;
}
.daterangepicker .icon-angle-right:after { content: ">"; }
.daterangepicker .icon-angle-left:after { content: "<"; }
.daterangepicker .icon-angle-right, .daterangepicker .icon-angle-left {
	font-weight: normal;
}
.daterangepicker .btn-danger {
	color: #333 !important;
	background: #eee;
	line-height: 28px;
	padding: 0;
	width: 80px;
	margin: 10px 0 0 40px;
}

.daterangepicker .btn-danger:hover {
	color: #fff !important;
	border-color: #eee;
	background: #38599e;
}
/*
@media (max-width: 360px) {
	.dashboard-date-range .fa-angle-down {
		display: none !important;
	}
}
*/