/*!
 * used by not logged in pages only!
 */

html { height: 100%; }
body {
	position: relative;
	padding: 0;
	min-height: 100%;
	background: #fff;
	color: #59595A;
	font-size: 14px;
}
h1 {
	font-family: arial, helvetica;
	font-weight: bold;
	font-size: 32px;
	color: /*#293b55;*/ #4b6c8b;
}

.top-nav-guest {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin-bottom: 50px;
}
.top-nav-guest .container {
/*	height: 76px;*/
}

.navlogo {
	display:block;
	float:left;
	height: 76px;
}
.navlogo img {
	width: 380px;
	position: relative; margin-top: -3px; /* img fix: */
}

/* top menu -------------------*/
.nav-menu {
	float: right;
	margin: 0;
}
.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-menu li {
	display: inline-block;
	font-size: 18px;
}
.nav-menu li a {
	display: block;
	position: relative;
	padding: 0 10px;
	color: #4b6c8b;
	line-height: 76px;
	font-weight: bold;
	text-transform: uppercase
}
.nav-menu li a:hover { color:#333; }
.nav-menu li a i {
	display: none;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -14px;
	width: 28px;
	height: 18px;
	background: url(/assets/img/top-nav-active.png) no-repeat;
}
.nav-menu li.current a i, .nav-menu li a:hover i {
	display: block;
}
.nav-menu li:last-child a {
	padding: 0 30px;
	margin: 0 10px 0 10px;
	color: #fff;
	text-transform: none;
	line-height: 46px;
	background-color: #4b6c8b;
	border-radius: 4px;
}
.nav-menu li:last-child a:hover {
	background-color: #333;
}
.nav-menu li:last-child a i {
	bottom: -21px;
}
#mobile-menu-toggle {
	display: none;
	position: absolute;
	top: 8px;
	left: 8px;
	width: auto;
	padding: 0 5px;
	line-height: 30px;
	background-color: #e5e5e5;
	border: none;
	border-radius: 4px;
	color: #777;
	font-size: 16px;
}
.signup-button {
	display: none;
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0 10px;
	line-height: 30px;
	background-color: #e5e5e5;
	border-radius: 4px;
	color: #555;
	font-size: 18px;
}


/* index page - center banner -----------*/
.index-center-banner {
	position: relative;
	text-align: center;
	background: #35589c;
	/*background: url(/assets/img/bg-index-guest.png) center top repeat-x;*/
}
.index-center-banner h1,.index-center-banner h2 .index-center-banner h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-family: arial, helvetica;
	font-weight: bold;
}
.index-center-banner h1 {
	margin-top: 40px;
	font-size: 33px;
}
.index-center-banner h2 {
	font-size: 20px;
	color: #fff;
}
.index-center-banner h3 {
	font-size: 20px;
	font-weight: normal;
}
.index-center-banner img {
	display: block;
	margin: 40px auto 20px auto;
}
.index-center-banner img.sep {
	margin: 18px auto;
}

/* login/signup form */

label {
	font-weight: 400;
	text-transform: uppercase;
}

.login-form {
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 0;
	box-shadow: 0 .125rem .25rem rgba(50,70,75,.2);
	font-weight: 200;
	margin-bottom: 10px;
}

.login-form legend {
	color: #03549C;
	font-weight: 800;
}

.login-form input, .login-form textarea {
	background-color: #F7F7F7;
  border: 1px solid #ccc;
	color: #0C59B0;
}

.login-btn {
	color: #fff !important;
	font-size: 20px;
	background: #074A82 !important;
	margin-bottom: 10px;
}

.register-btn {
	max-width: 500px;
	margin: 20px auto 20px auto;
	color: #fff !important;
	background: #FC5800 !important;
	font-size: 19px;
}

.forgot-link {
	padding-top: 10px;
	margin-bottom: -20px;
}


.signup {
	margin-top: 100px;
	border-top: 1px solid #eee;
	text-align: center;
	padding-top: 10px;
}

.signup h2 a {
	color: #59595A;
	font-size: 19px;
}

.requirements-table{
	width: 100%;
	border: 1px solid #666;
}

.requirements-table th, td {
	border: 1px solid #666;
	padding: 5px;
}

.req-met {
	background: url('../img/checkmark.png') no-repeat;
	height: 25px;
	width: 25px;
}

.affiliate-description {
	color: #fff;
	font-size: 21px;
	background: #095EB3;
	border: 1px solid #e4e4e4;
	border-radius: 0;
	box-shadow: 0 .125rem .25rem rgba(50,70,75,.2);
	margin-top: 20px;
}
.affiliate-description ul {
	margin-right: 8px;
	padding-left: 24px;
}
.affiliate-description li {
	padding-left: 32px;
	text-indent: -34px;
}
.affiliate-description li i {
	text-indent: 0;
	padding-right: 5px;
}

.affiliate-description h1 {
	font-size:28px;
	padding:15px 0 10px 20px;
}

.affiliate-description h1 i {
	color: #fff;
}

.affiliate-description ul{
	list-style-type:none;
}

.affiliate-description i {
	color: #A2FF00;
}

/* lotteries on index page */
.lotto-wrap { margin: 40px 5px; }
.lotto-wrap div { display: inline-block; margin: 10px; }
.lotto-wrap div img { max-width: 116px; max-height: 48px; }

/* countries list on why page */
.countries-wrap { margin: 20px 5px; }
.countries-wrap div {
	display: inline-block;
	margin: 5px 10px;
	width: 150px;
	text-align: left;
	font-size: 17px;
	color: #4b6c8b;
}
.countries-wrap div i { display: block; margin: 5px 10px 0 0; }

/* 3 blocks WHY */
.why-wrap { margin: 30px 0;}
.why-wrap div {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	max-width: 780px;
	min-height: 150px;
	overflow: hidden;
	text-align: left;
	font-size: 17px;
	color: #4b6c8b;
	border-radius: 5px;
	background: #eef0f1;
}
.why-wrap h3 {
	margin: 0 0 10px 0;
	font-family: arial, helvetica;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.why-wrap img { width: 100%; }
.why-wrap div div {
	margin: 0;
	border-radius: 0;
	vertical-align: middle;
	width: 50%;
}
.why-wrap div div.t { float: left; padding: 20px; }
.why-wrap div:nth-child(2) div.t { float: right; }
.why-wrap div div.w1 { position: absolute; right:0; height: 100%; width: 50%; background: #6bbfff; }
.why-wrap div div.w2 { position: absolute; left:0; height: 100%; width: 50%; background: #ea6449; }
.why-wrap div div.w3 { position: absolute; right:0; height: 100%; width: 50%; background: #61c6cf; }
.why-wrap div div img { position: relative; top: 50%; margin-top: -25%}

/* 3 blocks HOW */
.how-wrap { margin: 30px 0; }
.how-wrap div {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	max-width: 780px;
	min-height: 150px;
	overflow: hidden;
	text-align: left;
	font-size: 17px;
	color: #4b6c8b;
	border-radius: 5px;
	background: #eef0f1;
}
.how-wrap h3 {
	margin: 0 0 10px 0;
	font-family: arial, helvetica;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.how-wrap img { width: 100%; }
.how-wrap div div {
	margin: 0;
	border-radius: 0;
	vertical-align: middle;
	width: 50%;
}
.how-wrap div div.t { float: right; padding: 20px; }
.how-wrap div:nth-child(2) div.t { float: left; }
.how-wrap div div.w1 { position: absolute; left:0; height: 100%; width: 50%; background: #ecb345; }
.how-wrap div div.w2 { position: absolute; right:0; height: 100%; width: 50%; background: #ffe87f; }
.how-wrap div div.w3 { position: absolute; left:0; height: 100%; width: 50%; background: #fef8dd; }
.how-wrap div div img { position: relative; top: 50%; margin-top: -25%}


.footer-guest {
	width: 100%;
	bottom: 0px;
	background: #101c2d;
	text-align: center;
	line-height: 80px;
}

@media (max-width: 1200px) {
	.navlogo img {
		width: 340px;
	}
}
@media (min-width: 1200px) {
	.affiliate-description {
		font-size: 16px;
	}
	.affiliate-description li {
		padding-left: 26px;
		text-indent: -25px;
	}

}
@media(min-width:768px) {
	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
}
@media(max-width:768px) { /* iPad */
	.affiliate-description {
		font-size: 16px;
	}
	.affiliate-description li {
		text-indent: -28px;
		padding-left: 20px;
	}
	.affiliate-description h1 {
		font-size:25px;
		text-indent: -5px;
	}

	.nav-menu li a { padding: 0 5px; }
	.nav-menu li:last-child a { padding: 0 10px; }
	.index-center-banner h2 { font-size: 28px; margin-top: 10px; }
	.footer-guest {
		line-height: 40px;
	}
}
@media(max-width:736px) { /* iPhone6+ landscape */
}
@media(max-width:667px) { /* iPhone6 landscape */
}
@media(min-width:641px) { /* top menu - turn ON mobile ver */
	.nav-menu { display: block !important; }
	.logo-wrap { position:absolute;  }
}
@media(max-width:640px) { /* top menu - turn ON mobile ver */
	.top-nav-guest { margin-bottom: 5px; }
	.logo-wrap { text-align: center; margin-left: 28px;  }
	.navlogo { float:none; height: 45px; }
	.navlogo img { width: 200px; margin-top: 3px; }
	.nav-menu {
		display: none;
		clear: both;
		float: none;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		z-index: 10;
		background: #fff;
	 }
	.nav-menu li { display: block; }
	.nav-menu li:last-child { display: none; }
	.nav-menu li a { line-height: 45px; padding-left: 20px; }
	.nav-menu li a i { display: none !important; }
	.nav-menu li a:hover { background: #eee; }
	.signup-button { display: block; }
	#mobile-menu-toggle { display: block; }
	.lotto-wrap { margin: 20px 5px; }
}
@media(max-width:480px) { /* iPhone4 landscape */
	.countries-wrap div { width: 120px; }
	.why-wrap img { width: auto; }
	.why-wrap div div { width: 100%; }
	.why-wrap div div.t { float: none; }
	.why-wrap div div.w1 { position: static; width:100%; text-align:center; }
	.why-wrap div div.w2 { position: static; width:100%; text-align:center; }
	.why-wrap div div.w3 { position: static; width:100%; text-align:center; }
	.why-wrap div div img { position: relative; width: 300px; top: 0; margin: 0; }
	.how-wrap img { width: auto; }
	.how-wrap div div { width: 100%; }
	.how-wrap div div.t { float: none; }
	.how-wrap div div.w1 { position: static; width:100%; text-align:center; }
	.how-wrap div div.w2 { position: static; width:100%; text-align:center; }
	.how-wrap div div.w3 { position: static; width:100%; text-align:center; }
	.how-wrap div div img { position: relative; width: 300px; top: 0; margin: 0; }
}
@media(max-width:320px) { /* iPhone4 */
	.index-center-banner h2 { font-size: 26px; }
	.index-center-banner img { width: 60%; margin: 30px auto 10px auto; }
}
