body {
	background: #ecedf0;
	font-family: 'Archivo Narrow', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.editable, .t_select { display:block; width:100%; cursor: pointer; }
.flat { line-height: 14px; }
.flat small { font-size:75%; }

/* float box height fix */
/*.floatfix { display:inline-block; }*/
.floatfix:after { content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0; }
html[xmlns] .floatfix { display:block; }
* html .floatfix { height:1%; }

.row {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 !important;
}

.clear {
	clear: both;
}

.text-center {
	text-align: center;
}

.margin-10 {
	margin-top: 20px;
}
.margin-50 {
	margin-top: 50px;
}
a:hover {
	text-decoration: none;
}

select, textarea, input, button {
	outline: 0 !important;
}

label { cursor: pointer; margin: 8px 0 2px 0; }

.full {
	background: url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* ===========================================
	Wrappers and Toggles
   ========================================= */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#wrapper .mobile_only {
	display: none;
}

#wrapper.toggled .mobile_only {
	display: list-item;
}
#wrapper.toggled .side-top-affiliates{
	display: none;
}

#side-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #3d3d3d;
}

#wrapper.toggled #side-wrapper {
	width: 250px;
}
@media (max-width: 640px) {
	#wrapper.toggled #side-wrapper {
		width: 220px;
	}
	.side-nav {
		width: 220px !important;
	}
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	top: 50px;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* ===========================================
	Top Navigation
   ========================================= */
.navbar {
	height: 65px;
	background: #fff; /*#38599e*/
	color: #333;
	border: none;
}

.navbar-nav > li > a {
	line-height: 35px;
	color: #333;
}

.navbar-nav li ul li a {
	font-size: 17px;
}

#menu-toggle {
	width: 50px;
	background: #fff; /*#3d3d3d*/
	/*margin-top: -1px;*/
}

.navbar-right {
	margin-right: 10px;
}

.navbar-right img {
	border-radius: 50%;
	border: 2px solid #333;
	margin-top: -5px;
	margin-right: 7px;
	width: 50px;
	height: 50px;
}

.navbar-right li a i {
	font-size: 16px;
}

.navbar-user {
	color: #333; /*#fff*/
	font-weight: 800;
}

.nav-icon {
	color: #333;
}

.nav-icon:hover {
	color: #0CD7F2;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background: #3d3d3d;
	color: #fff;
}

/* LOGO */
.logo {
	position: relative;
	left: 15px;
	width: 250px;
	float: left;
}

.logo a {
	color: #333;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
}

.logo a:hover {
	color: #2172CC;
	background: none;
}

.logo img {
	width: 220px;
	margin-top: -10px;
}

.language {
	margin-top: 14px;
}

.balance {
	margin-top: 20px;
	margin-right: 10px;
	font-size: 18px;
	padding: 0 15px 0 20px;
	color: #2BA802;
}

.white {
	color: #fff;
}

select {
	-webkit-appearance: none;
}

.lang-select {
	margin-top: 5px;
}

/* ===========================================
	Notifications
   ========================================= */

.notifications ul > li {
	background: transparent;
	height: 35px;
	padding: 3px;
}

.notification-heading {
	color: #fff;
	margin-top: -6px;
}

.notification-heading > a {
	color: #fff !important;
}

.notification-heading a:hover {
	background: transparent !important;
}

.heading-danger {
	background: #BF2E35 !important;
}

.notification-time {
	background: #CDC8DB;
	color: #222;
	font-size: 10px;
	margin-top: 6px;
	padding: 0 3px 0 3px;
}

.navbar-default .navbar-nav > .open > a:focus {
	background: none;
}

.nav-account {
	min-width: 192px;
	margin: -10px -10px 0 0 !important;
}

.nav-danger .dropdown-menu {
	min-width: 390px;
}

.nav-danger .dropdown-menu h2 {
	float: left;
	font-size: 32px;
	font-weight: 800;
	margin-left: 20px;
}

.nav-danger .dropdown-menu h5 {
	float: right;
	font-size: 15px;
	font-weight: 600;
	margin-top: 30px;
	margin-right: 10px;
}

.icon-danger {
	background: #BF2E35;
	color: #fff;
}

.dropbox img {
	border: 0;
	width: 35px;
	height: 35px;
}

/* ===========================================
	Sidebar Navigation
   ========================================= */

.side-heading {
	color: #ccc;
	font-weight: 400;
	margin-left: 20px;
	padding: 5px 0 10px 0;
}

.side-nav {
	position: relative;
	top: 65px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	/*height: 88%;*/
}

.side-nav li {
	line-height: 45px;
	border-top: 1px solid #555;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.texttrans-none { text-transform: none !important; }

.side-nav li a {
	display: block;
	color: #ccc;
}

.side-nav li a i {
	float: right;
	margin-right: 7px;
	font-size: 14px;
}

.side-nav li ul {
	list-style-type: none;
	padding: 0;
}

.side-nav li ul li {
	padding-left: 40px;
}

.side-nav img {
	/*border-radius: 50%;
	border: 2px solid #333;
	margin-top: -2px;*/
	margin-left: 10px;
	margin-right: 7px;
	max-width: 24px;
	max-height: 24px;
}

.side-nav .active {
	background: #E3E3E3;
}

.side-warning ul, .side-warning:hover {
	background: #FFC954;
}

.side-danger ul, .side-danger:hover {
	background: #38599e;
}


.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus {
	color: #fff !important;
}

.stats-default i {
	font-size: 14px;
	color: #680BB0;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-danger i {
	font-size: 14px;
	color: #BF2E35;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-text {
	font-size: 22px;
	font-weight: 800;
	color: #7D7D7D;
	text-shadow: 0px 1px 1px #000;
}

.side-nav li a:hover {
	text-decoration: none;
	color: #333;
	background: rgba(255, 255, 255, 0.2);
}

.side-nav li a:active,
.side-nav li a:focus {
	text-decoration: none;
}

.ui-drop-hover {
	background-color: #8CED74 !important;
	border: 1px solid #bbb;
}

.small-text {
	color: #999;
	margin-left: 5px;
	margin-top: -10px;
	font-size: 10px;
}

.ss-text {
	color: #999;
	font-size: 12px;
}

.sales-profits i {
	float: left !important;
	color: #166BC7;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.sales-profits:hover {
	background: #E6E6E6;
}

.banners-logos i {
	float: left !important;
	color: #48008C;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.banners-logos:hover {
	background: #E6E6E6;
}

.affiliates i {
	float: left !important;
	color: #CC0808;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.affiliates:hover {
	background: #E6E6E6;
}

.referral-traffic i {
	float: left !important;
	color: #FF4D00;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.referral-traffic:hover {
	background: #E6E6E6;
}

.payouts i {
	float: left !important;
	color: #00695C;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.payouts:hover {
	background: #E6E6E6;
}

.paypal-setup i {
	float: left !important;
	color: #074C91;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.paypal-setup:hover {
	background: #E6E6E6;
}

.commission i {
	float: left !important;
	color: #F29705;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.commission:hover {
	background: #E6E6E6;
}

.website-integration i {
	float: left !important;
	color: #333;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.website-integration:hover {
	background: #E6E6E6;
}

.menu-item i {
	float: left !important;
	color: #ccc;
	font-size: 18px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.website-integration:hover {
	background: #E6E6E6;
}

.active {
	border-left: 4px solid #FC5800;
	background: #38599e !important;
}

/* ===========================================
	Stat Boxes
   ========================================= */

.stat-box {
	background: #fff;
	border: 1px solid #DEDEDE;
	height: 80px;
	border-radius: 10px;
}

.stat-box a {
	display: block;
	height: 100%;
	color: #333;
}

.stat-icon {
	float: left;
	color: #fff;
	font-size: 2.7em;
	text-align: center;
	height: 100%;
	width: 35%;
}

.stat-icon i {
	position: relative;
	top: 10px;
}

.stat-data {
	float: left;
	width: 60%;
	margin-left: 5%;
	color: #fff;
}

.stat-data h2 {
	font-size: 24px;
	margin-top: 25px;
}

.stat-info {
	font-size: 13px;
}

.stats-default i {
	font-size: 32px;
	color: #680BB0;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-danger i {
	font-size: 32px;
	color: #BF2E35;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-text {
	font-size: 22px;
	font-weight: 800;
	color: #7D7D7D;
	text-shadow: 0px 1px 1px #000;
}

.stat-primary {
	background: #2d89ef;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-default {
	background: #FF4D00;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-danger {
	background: #DB1212;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-success {
	background: #25C720;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}

/* ===========================================
	Login Form
   ========================================= */

.login {
	background: #fff;
	margin-top: 100px;
}

.login-form {
	padding: 30px;
}

.input-xlarge {
	font-size: 17px;
	width: 100%;
	height: 2.5em;
	padding: 5px;
}
.text-xlarge {
	font-size: 17px;
	width: 100%;
	padding: 5px;
}

.login-btn {
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;
}

.inline {
	margin-left: 25px;
}

/* ===========================================
	Register Form
   ========================================= */

.go-register {
	position: relative;
	top: 46px;
}

.terms {
	padding-top: 20px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.success-text {
	color: #80D134;
}

/* ===========================================
	Other Forms
   ========================================= */

.date-filter {
	font-size: 12px;
	margin-right: 10px;
}

input[type=date] {
	width: 110px;
	font-size: 12px;
	height: 30px;
	color: #333;
}

.tier-levels {
	list-style-type: none;
	padding: 15px;
}

.tier-levels li {
	padding: 5px;
}

.short-input {
	width: 20%;
}

/* ===========================================
	Panels and Buttons
   ========================================= */
.panel-heading {
	color: #fff;
	font-size: 20px;
	line-height: 36px;
	padding: 0 0 0 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.sub-heading {
	font-size: 13px;
	float: right;
	color: #fff;
	margin: 5px 15px 0 0;
}

.panel-content {
	font-size: 15px;
	padding: 20px;
}
.medium-heading{
	font-family: Arial,Helvetica;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #555;
	font-weight: normal;
}
.medium-title{
	font-family: Arial,Helvetica;
	font-size: 28px;
	font-weight: normal;
}
.medium-text{
	font-size: 17px;
	font-weight: normal;
	font-family: Arial,Helvetica;
}
.title-icon {
	margin: 0 10px 0 0;
}

.panel-primary {
	background: #0A5AA1;
}

.panel-default {
	background: #454545;
}

.panel-warning {
	background: #f6f6f6;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #DADADA;
	color: #0A5AA1;
}

.panel-success {
	background: #7BC456;
}

.btn {
	border-radius: 5px;
	border: 1px solid #E3E3E3;
}

.btn-primary, .btn-primary:hover {
	background: #2d89ef;
}

.btn-danger, .btn-danger:hover {
	background: #BF2E35;
}

.btn-money, .btn-money:hover, .btn-money:focus {
	color: #fff;
	background: #25c720;
}

.btn-warning, .btn-warning:hover {
	background: #FF4D00;
	color: #fff;
}
.btn-blue, .btn-blue:visited {
	padding: 18px 32px;
	background-color: #34b1c4;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border: none;
	font-family: Arial,Helvetica;
	white-space: normal;
}
.btn-blue:hover{
	color: #fff;
	background-color: #2980b9;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.btn-link {
	border: 0;
}

.checkbox, .radio {
	display: inline;
}

.alert-default {
	background: #81469E;
	color: #fff;
}

.panel-default {
	background: #fff;
}

.red {
	color: red;
}

.green {
	color: green;
}

.upload-form {
	width: 200px;
}

.banners {
	width: 200px;
	height: auto;
}

.banner-code {
	width: 420px;
}

.products {
	width: 100px;
	height: auto;
}

.void-row {
	background: #333;
}

.mr {
	margin-right: 10px;
}
/* ===========================================
	Sections
   ========================================= */
section {
	padding: 10px 35px 20px;
}
.section-white{
	background-color: #fff;
}
.big-span{
	display: block;
	font-family: arial, helvetica;
	font-weight: bold;
	font-size: 32px;
	color: #4b6c8b;
}
.section-gray{
	background-color: #f8f8f8;
}
.section-lightpurple{
	background-color: #f5f4f9;
}
/* ===========================================
	Sections
   ========================================= */
.features-list{
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	color: #858585;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}
ul.features-list li {
	font-size: 24px;
	font-weight: normal;
	font-family: Arial,Helvetica;

	margin: 12px 0;
}
ul.features-list li img {
	max-width: 55px;
	margin-right: 20px;
	display: inline-block;
}
ul.features-list li span {
	border: 2px dotted #dedfe0;
	border-radius: 50px;
	display: inline-block;
	width: 35px;
	text-align: center;
	height: 35px;
	padding: 4px;
	margin-right: 10px;
}
ul.features-list li p {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}
/* ===========================================
	Top Lists / Flags / Other Stats
   ========================================= */

.flag-img {
	border: 0 !important;
	border-radius: 0 !important;
	width: 18px !important;
	height: 15px !important;
}

.top-countries {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.top-countries li {
	font-size: 21px;
	border-bottom: 1px solid #ccc;
	line-height: 22px;
}
.top-countries li:last-child {
	border-bottom: none;
}

.top-list img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.flag {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
	margin-top: 4px;
	background: url(../img/flags.png) no-repeat
}

.flag.flag-eu {
	background-position: -224px -224px;
}

.flag.flag-ad {
	background-position: -16px 0
}

.flag.flag-ae {
	background-position: -32px 0
}

.flag.flag-af {
	background-position: -48px 0
}

.flag.flag-ag {
	background-position: -64px 0
}

.flag.flag-ai {
	background-position: -80px 0
}

.flag.flag-al {
	background-position: -96px 0
}

.flag.flag-am {
	background-position: -112px 0
}

.flag.flag-an {
	background-position: -128px 0
}

.flag.flag-ao {
	background-position: -144px 0
}

.flag.flag-ar {
	background-position: -160px 0
}

.flag.flag-as {
	background-position: -176px 0
}

.flag.flag-at {
	background-position: -192px 0
}

.flag.flag-au {
	background-position: -208px 0
}

.flag.flag-aw {
	background-position: -224px 0
}

.flag.flag-az {
	background-position: 0 -16px
}

.flag.flag-ba {
	background-position: -16px -16px
}

.flag.flag-bb {
	background-position: -32px -16px
}

.flag.flag-bd {
	background-position: -48px -16px
}

.flag.flag-be {
	background-position: -64px -16px
}

.flag.flag-bf {
	background-position: -80px -16px
}

.flag.flag-bg {
	background-position: -96px -16px
}

.flag.flag-bh {
	background-position: -112px -16px
}

.flag.flag-bi {
	background-position: -128px -16px
}

.flag.flag-bj {
	background-position: -144px -16px
}

.flag.flag-bm {
	background-position: -160px -16px
}

.flag.flag-bn {
	background-position: -176px -16px
}

.flag.flag-bo {
	background-position: -192px -16px
}

.flag.flag-br {
	background-position: -208px -16px
}

.flag.flag-bs {
	background-position: -224px -16px
}

.flag.flag-bt {
	background-position: 0 -32px
}

.flag.flag-bw {
	background-position: -16px -32px
}

.flag.flag-by {
	background-position: -32px -32px
}

.flag.flag-bz {
	background-position: -48px -32px
}

.flag.flag-ca {
	background-position: -64px -32px
}

.flag.flag-cd {
	background-position: -80px -32px
}

.flag.flag-cf {
	background-position: -96px -32px
}

.flag.flag-cg {
	background-position: -112px -32px
}

.flag.flag-ch {
	background-position: -128px -32px
}

.flag.flag-ci {
	background-position: -144px -32px
}

.flag.flag-ck {
	background-position: -160px -32px
}

.flag.flag-cl {
	background-position: -176px -32px
}

.flag.flag-cm {
	background-position: -192px -32px
}

.flag.flag-cn {
	background-position: -208px -32px
}

.flag.flag-co {
	background-position: -224px -32px
}

.flag.flag-cr {
	background-position: 0 -48px
}

.flag.flag-cu {
	background-position: -16px -48px
}

.flag.flag-cv {
	background-position: -32px -48px
}

.flag.flag-cy {
	background-position: -48px -48px
}

.flag.flag-cz {
	background-position: -64px -48px
}

.flag.flag-de {
	background-position: -80px -48px
}

.flag.flag-dj {
	background-position: -96px -48px
}

.flag.flag-dk {
	background-position: -112px -48px
}

.flag.flag-dm {
	background-position: -128px -48px
}

.flag.flag-do {
	background-position: -144px -48px
}

.flag.flag-dz {
	background-position: -160px -48px
}

.flag.flag-ec {
	background-position: -176px -48px
}

.flag.flag-ee {
	background-position: -192px -48px
}

.flag.flag-eg {
	background-position: -208px -48px
}

.flag.flag-eh {
	background-position: -224px -48px
}

.flag.flag-er {
	background-position: 0 -64px
}

.flag.flag-es {
	background-position: -16px -64px
}

.flag.flag-et {
	background-position: -32px -64px
}

.flag.flag-fi {
	background-position: -48px -64px
}

.flag.flag-fj {
	background-position: -64px -64px
}

.flag.flag-fm {
	background-position: -80px -64px
}

.flag.flag-fo {
	background-position: -96px -64px
}

.flag.flag-fr {
	background-position: -112px -64px
}

.flag.flag-ga {
	background-position: -128px -64px
}

.flag.flag-gb {
	background-position: -144px -64px
}

.flag.flag-gd {
	background-position: -160px -64px
}

.flag.flag-ge {
	background-position: -176px -64px
}

.flag.flag-gg {
	background-position: -192px -64px
}

.flag.flag-gh {
	background-position: -208px -64px
}

.flag.flag-gi {
	background-position: -224px -64px
}

.flag.flag-gl {
	background-position: 0 -80px
}

.flag.flag-gm {
	background-position: -16px -80px
}

.flag.flag-gn {
	background-position: -32px -80px
}

.flag.flag-gp {
	background-position: -48px -80px
}

.flag.flag-gq {
	background-position: -64px -80px
}

.flag.flag-gr {
	background-position: -80px -80px
}

.flag.flag-gt {
	background-position: -96px -80px
}

.flag.flag-gu {
	background-position: -112px -80px
}

.flag.flag-gw {
	background-position: -128px -80px
}

.flag.flag-gy {
	background-position: -144px -80px
}

.flag.flag-hk {
	background-position: -160px -80px
}

.flag.flag-hn {
	background-position: -176px -80px
}

.flag.flag-hr {
	background-position: -192px -80px
}

.flag.flag-ht {
	background-position: -208px -80px
}

.flag.flag-hu {
	background-position: -224px -80px
}

.flag.flag-id {
	background-position: 0 -96px
}

.flag.flag-ie {
	background-position: -16px -96px
}

.flag.flag-il {
	background-position: -32px -96px
}

.flag.flag-im {
	background-position: -48px -96px
}

.flag.flag-in {
	background-position: -64px -96px
}

.flag.flag-iq {
	background-position: -80px -96px
}

.flag.flag-ir {
	background-position: -96px -96px
}

.flag.flag-is {
	background-position: -112px -96px
}

.flag.flag-it {
	background-position: -128px -96px
}

.flag.flag-je {
	background-position: -144px -96px
}

.flag.flag-jm {
	background-position: -160px -96px
}

.flag.flag-jo {
	background-position: -176px -96px
}

.flag.flag-jp {
	background-position: -192px -96px
}

.flag.flag-ke {
	background-position: -208px -96px
}

.flag.flag-kg {
	background-position: -224px -96px
}

.flag.flag-kh {
	background-position: 0 -112px
}

.flag.flag-ki {
	background-position: -16px -112px
}

.flag.flag-km {
	background-position: -32px -112px
}

.flag.flag-kn {
	background-position: -48px -112px
}

.flag.flag-kp {
	background-position: -64px -112px
}

.flag.flag-kr {
	background-position: -80px -112px
}

.flag.flag-kw {
	background-position: -96px -112px
}

.flag.flag-ky {
	background-position: -112px -112px
}

.flag.flag-kz {
	background-position: -128px -112px
}

.flag.flag-la {
	background-position: -144px -112px
}

.flag.flag-lb {
	background-position: -160px -112px
}

.flag.flag-lc {
	background-position: -176px -112px
}

.flag.flag-li {
	background-position: -192px -112px
}

.flag.flag-lk {
	background-position: -208px -112px
}

.flag.flag-lr {
	background-position: -224px -112px
}

.flag.flag-ls {
	background-position: -208px -224px
}

.flag.flag-lt {
	background-position: -16px -128px
}

.flag.flag-lu {
	background-position: -32px -128px
}

.flag.flag-lv {
	background-position: -48px -128px
}

.flag.flag-ly {
	background-position: -64px -128px
}

.flag.flag-ma {
	background-position: -80px -128px
}

.flag.flag-mc {
	background-position: -96px -128px
}

.flag.flag-md {
	background-position: -112px -128px
}

.flag.flag-me {
	background-position: -128px -128px
}

.flag.flag-mg {
	background-position: -144px -128px
}

.flag.flag-mh {
	background-position: -160px -128px
}

.flag.flag-mk {
	background-position: -176px -128px
}

.flag.flag-ml {
	background-position: -192px -128px
}

.flag.flag-mm {
	background-position: -208px -128px
}

.flag.flag-mn {
	background-position: -224px -128px
}

.flag.flag-mo {
	background-position: 0 -144px
}

.flag.flag-mq {
	background-position: -16px -144px
}

.flag.flag-mr {
	background-position: -32px -144px
}

.flag.flag-ms {
	background-position: -48px -144px
}

.flag.flag-mt {
	background-position: -64px -144px
}

.flag.flag-mu {
	background-position: -80px -144px
}

.flag.flag-mv {
	background-position: -96px -144px
}

.flag.flag-mw {
	background-position: -112px -144px
}

.flag.flag-mx {
	background-position: -128px -144px
}

.flag.flag-my {
	background-position: -144px -144px
}

.flag.flag-mz {
	background-position: -160px -144px
}

.flag.flag-na {
	background-position: -176px -144px
}

.flag.flag-nc {
	background-position: -192px -144px
}

.flag.flag-ne {
	background-position: -208px -144px
}

.flag.flag-ng {
	background-position: -224px -144px
}

.flag.flag-ni {
	background-position: 0 -160px
}

.flag.flag-nl {
	background-position: -16px -160px
}

.flag.flag-no {
	background-position: -32px -160px
}

.flag.flag-np {
	background-position: -48px -160px
}

.flag.flag-nr {
	background-position: -64px -160px
}

.flag.flag-nz {
	background-position: -80px -160px
}

.flag.flag-om {
	background-position: -96px -160px
}

.flag.flag-pa {
	background-position: -112px -160px
}

.flag.flag-pe {
	background-position: -128px -160px
}

.flag.flag-pf {
	background-position: -144px -160px
}

.flag.flag-pg {
	background-position: -160px -160px
}

.flag.flag-ph {
	background-position: -176px -160px
}

.flag.flag-pk {
	background-position: -192px -160px
}

.flag.flag-pl {
	background-position: -208px -160px
}

.flag.flag-pr {
	background-position: -224px -160px
}

.flag.flag-ps {
	background-position: 0 -176px
}

.flag.flag-pt {
	background-position: -16px -176px
}

.flag.flag-pw {
	background-position: -32px -176px
}

.flag.flag-py {
	background-position: -48px -176px
}

.flag.flag-qa {
	background-position: -64px -176px
}

.flag.flag-re {
	background-position: -80px -176px
}

.flag.flag-ro {
	background-position: -96px -176px
}

.flag.flag-rs {
	background-position: -112px -176px
}

.flag.flag-ru {
	background-position: -128px -176px
}

.flag.flag-rw {
	background-position: -144px -176px
}

.flag.flag-sa {
	background-position: -160px -176px
}

.flag.flag-sb {
	background-position: -176px -176px
}

.flag.flag-sc {
	background-position: -192px -176px
}

.flag.flag-sd {
	background-position: -208px -176px
}

.flag.flag-se {
	background-position: -224px -176px
}

.flag.flag-sg {
	background-position: 0 -192px
}

.flag.flag-si {
	background-position: -16px -192px
}

.flag.flag-sk {
	background-position: -32px -192px
}

.flag.flag-sl {
	background-position: -48px -192px
}

.flag.flag-sm {
	background-position: -64px -192px
}

.flag.flag-sn {
	background-position: -80px -192px
}

.flag.flag-so {
	background-position: -96px -192px
}

.flag.flag-sr {
	background-position: -112px -192px
}

.flag.flag-st {
	background-position: -128px -192px
}

.flag.flag-sv {
	background-position: -144px -192px
}

.flag.flag-sy {
	background-position: -160px -192px
}

.flag.flag-sz {
	background-position: -176px -192px
}

.flag.flag-tc {
	background-position: -192px -192px
}

.flag.flag-td {
	background-position: -208px -192px
}

.flag.flag-tg {
	background-position: -224px -192px
}

.flag.flag-th {
	background-position: 0 -208px
}

.flag.flag-tj {
	background-position: -16px -208px
}

.flag.flag-tl {
	background-position: -32px -208px
}

.flag.flag-tm {
	background-position: -48px -208px
}

.flag.flag-tn {
	background-position: -64px -208px
}

.flag.flag-to {
	background-position: -80px -208px
}

.flag.flag-tr {
	background-position: -96px -208px
}

.flag.flag-tt {
	background-position: -112px -208px
}

.flag.flag-tv {
	background-position: -128px -208px
}

.flag.flag-tw {
	background-position: -144px -208px
}

.flag.flag-tz {
	background-position: -160px -208px
}

.flag.flag-ua {
	background-position: -176px -208px
}

.flag.flag-ug {
	background-position: -192px -208px
}

.flag.flag-us {
	background-position: -208px -208px
}

.flag.flag-uy {
	background-position: -224px -208px
}

.flag.flag-uz {
	background-position: 0 -224px
}

.flag.flag-va {
	background-position: -16px -224px
}

.flag.flag-vc {
	background-position: -32px -224px
}

.flag.flag-ve {
	background-position: -48px -224px
}

.flag.flag-vg {
	background-position: -64px -224px
}

.flag.flag-vi {
	background-position: -80px -224px
}

.flag.flag-vn {
	background-position: -96px -224px
}

.flag.flag-vu {
	background-position: -112px -224px
}

.flag.flag-ws {
	background-position: -128px -224px
}

.flag.flag-ye {
	background-position: -144px -224px
}

.flag.flag-za {
	background-position: -160px -224px
}

.flag.flag-zm {
	background-position: -176px -224px
}

.flag.flag-zw {
	background-position: -192px -224px
}

.desktop-legend {
	background: #FF4D00;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	width: 12px;
	height: 12px;
}

.phone-legend {
	background: #0A5AA1;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	width: 12px;
	height: 12px;
}

.tablet-legend {
	background: #333;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	width: 12px;
	height: 12px;
}



.dataTables_wrapper select, .t_select {
	padding: 0 5px;
}

.narrow-buttons input {
	padding-left: 5px;
	padding-right: 5px;
}



/* affiliates - add earnings popup box */
#addMoney {
	display: none;
	position: absolute;
	z-index: 2048;
}

#addMoney .bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

#addMoney .box {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 320px;
	height: 320px;
	margin: -160px 0 0 -160px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#addMoney .box .wrap {
	padding: 5px 20px;
}

#addMoney .box p {
	height: 24px;
}

#addMoney .box button {
	position: absolute;
	bottom: 20px;
	width: 80px;
}

#addMoney .box button.cancel {
	right: 20px;
}

#addMoney .box label {
	display: block;
	margin: 5px 0 0 0;
}

#addMoney .box input {
	width: 100%;
}

#addMoney .box form input.am {
	width: 72px;
}

.nopadding { padding:0; }
.center { text-align: center; }
/* ===========================================
	Device Specific
   ========================================= */

@media (min-width: 768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 70px;
	}

	#side-wrapper {
		width: 250px;
	}

	#wrapper.toggled #side-wrapper {
		width: 66px;
	}

	#wrapper.toggled #side-wrapper .logo {
		display: none;
	}

	#wrapper.toggled #side-wrapper .side-heading {
		display: none;
	}

	#wrapper.toggled #side-wrapper .side-nav li a i {
		margin-left: 9px;
		padding-right: 7px;
		font-size: 33px !important;
	}
	#wrapper.toggled #side-wrapper .side-nav .side-danger img {
		margin-left: 14px;
		margin-right: 16px;
		width: 35px;
		height: 35px;
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}

}


@media (max-width: 768px) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-right {
		display: none;
	}
	.menu-toggle {
		float: right;
		margin-right: 20px;
		margin-top: -3px;
	}
	.medium-title {
		display: inline-block;
		margin-top: 20px;
	}
}

@media (max-width: 414px) {
	#img_demo { margin: 5px auto; }
	.big-span { font-size: 24px;  }
	section.section-gray { margin: 0; padding: 0}
	.btn-blue { width: 77%;	}
}

@media (max-width: 1279px) {
	.dataTables_wrapper {
		overflow-x: auto;
	}
	.dataTables_wrapper::-webkit-scrollbar { width: 8px; height: 8px; }
	.dataTables_wrapper::-webkit-scrollbar-track {  background-color: #aaa; }
	.dataTables_wrapper::-webkit-scrollbar-track-piece { background-color: #ddd; }
	.dataTables_wrapper::-webkit-scrollbar-thumb { height: 6px; background-color: #bbb; border-radius: 3px; }
	.dataTables_wrapper::-webkit-scrollbar-corner { background-color: #999; }
	.dataTables_wrapper::-webkit-resizer { background-color: #666; }
	/*.dataTables_wrapper::-webkit-scrollbar-button { width: 8px; height: 8px; background-color: #bbb; }*/
}

.ox100 {
	position: relative;
	width: 100px;
	height: 42px;
	overflow: auto;
}
.ox100::-webkit-scrollbar { width: 3px; height: 3px; }
.ox100::-webkit-scrollbar-track {  background-color: #eee; }
.ox100::-webkit-scrollbar-thumb { height: 3px; background-color: #ddd; border-radius: 1px; }

